<a href="https://colab.research.google.com/github/FazilMSD7/Data-Analytics/blob/main/Py_fundamentals/PyPractice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**LOOPS PRACTICE**

In [45]:
# For Loops :
# sum of 1-50 even numbers using continue
sum = 0
for i in range(1,51):
  if i%2!=0:
    continue
  sum+=i
print(sum)

# first multiple of 7 in 10-50 using break
for i in  range(10,51):
  if i%7==0:
    break
print(i)

# count how many times letter 'a' appears in string
count = 0
for i in 'australia':
  if i == 'a':
    count+=1
  continue
print(count)

# prime numbers from 10,30
for i in range(10,31):
  for j in range(2,i):
    if i%j==0:
      break
  else:
    print(i)

# sum positive numbers until 0 using break
sum = 0
li = [2,4,6,-1,7,4,0,3,7]
for i in li:
  if i>0:
    sum+=i
  elif i==0:
    break
print(sum)

# all non-alphabet char in string
li = 'sd#7c&6"s8)sd#bf^e32'
letters = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z','a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z']

for i in li:
  if i not in letters:
    print(i)
    continue

# largest even number in list
li = [18, 64, 80, 12, 46, 98, 34, 76, 22, 58]
largest = 0
for i in li:
  if i>largest:
    largest = i
print(largest)

# largest in odd number in li:
li = [32,55,66,201,33,34,134]
lar= 0
for i in li:
    if i>lar and i%2!=0:
        lar=i
print(lar)

650
14
3
11
13
17
19
23
29
23
#
7
&
6
"
8
)
#
^
3
2
98
201

In [35]:
# Accepting a number from the user until the user enters Zero. Display the sum and average
sum = 0
count = 0
for i in range(1000):
  num = int(input('no.'))
  if num==0:
    break
  sum+=num
  count+=1
print(f'sum:{sum},avg:{sum/count}')

no.87
no.56
no.88
no.0
sum:231,avg:77.0

In [54]:
# if number is odd in a list, find index of odd number
li = [0,22,23,54,13,42,6]
index = 0
for i in range(len(li)):
  if li[i]%2!=0:
    index+=1
print(index)

# using enum
li = [22,54,9,10,23]
for index,i in enumerate(li):
  if i%2!=0:
    break
print(i, index)

''' numbers which are divisible by 7 but are not a multiple of 5, between 2000 and 3200 (both included).
 The numbers obtained should be printed in a comma-separated sequence on a single line'''

for i in range(100,201):
  if i%7==0 and i%5!=0:
      print(i,end=',')
print('\n')
# to avoid comma at last
res=[]
for i in range(100,201):
    if i%7==0 and i%5!=0:
        res.append(str(i))
print(','.join(res))


'''Take a user input as integer N. Find out the sum from 1 to N. If any number if divisible by 5, then skip that number.
And if the sum is greater than 300, don't need to calculate the sum further more. Print the final result. And don't use for loop to solve this problem.'''

n= int(input('no'))
sum = 0
for i in range(1,n+1):
    if i%5==0:
        continue
    sum+=i
    if sum>300:
        sum-=i
        break
print(sum)

2
9 2
112,119,126,133,147,154,161,168,182,189,196,

112,119,126,133,147,154,161,168,182,189,196

In [64]:
'''Write a program, which will find all such numbers between 1000 and 3000 (both included) such that each digit of the number is an even number.
 The numbers obtained should be printed in a space-separated sequence on a single line.'''
res = []
for i in range(200,501): #250
  flag = True
  cur = i
  while cur>0:
    last = cur%10 #0
    if last%2!=0:
       flag=False
       break
    cur = cur//10
    if flag==True:
       res.append(str(i))
print(res)

['200', '200', '200', '202', '202', '202', '204', '204', '204', '206', '206', '206', '208', '208', '208', '210', '212', '214', '216', '218', '220', '220', '220', '222', '222', '222', '224', '224', '224', '226', '226', '226', '228', '228', '228', '230', '232', '234', '236', '238', '240', '240', '240', '242', '242', '242', '244', '244', '244', '246', '246', '246', '248', '248', '248', '250', '252', '254', '256', '258', '260', '260', '260', '262', '262', '262', '264', '264', '264', '266', '266', '266', '268', '268', '268', '270', '272', '274', '276', '278', '280', '280', '280', '282', '282', '282', '284', '284', '284', '286', '286', '286', '288', '288', '288', '290', '292', '294', '296', '298', '300', '300', '302', '302', '304', '304', '306', '306', '308', '308', '310', '312', '314', '316', '318', '320', '320', '322', '322', '324', '324', '326', '326', '328', '328', '330', '332', '334', '336', '338', '340', '340', '342', '342', '344', '344', '346', '346', '348', '348', '350', '352', '354', '356', '358', '360', '360', '362', '362', '364', '364', '366', '366', '368', '368', '370', '372', '374', '376', '378', '380', '380', '382', '382', '384', '384', '386', '386', '388', '388', '390', '392', '394', '396', '398', '400', '400', '400', '402', '402', '402', '404', '404', '404', '406', '406', '406', '408', '408', '408', '410', '412', '414', '416', '418', '420', '420', '420', '422', '422', '422', '424', '424', '424', '426', '426', '426', '428', '428', '428', '430', '432', '434', '436', '438', '440', '440', '440', '442', '442', '442', '444', '444', '444', '446', '446', '446', '448', '448', '448', '450', '452', '454', '456', '458', '460', '460', '460', '462', '462', '462', '464', '464', '464', '466', '466', '466', '468', '468', '468', '470', '472', '474', '476', '478', '480', '480', '480', '482', '482', '482', '484', '484', '484', '486', '486', '486', '488', '488', '488', '490', '492', '494', '496', '498', '500', '500']

In [86]:
# while loop:
# reverse an number:
rev = 0
num = 786
while num>0:
  last = num%10 #6
  rev = rev*10 + last
  num = num//10
print(rev)

# fib - n
n = int(input('no.'))
num1, num2 = 0,1
i=0
while i<=n:
  print(num1)
  c= num1 + num2
  num1 = num2
  num2 = c
  i+=1

#sum of digits
n = int(input('no.'))
sum = 0
while n>0:
  last = n%10
  sum+=last
  n = n//10
print(sum)

#countdown 10-1:
import time
num = 10
while num>0:
  print(num)
  time.sleep(1)
  num-=1

# factorial
n = int(input('no.'))
fact = 1
i=1
while i<=n:
  fact*=i
  i+=1
print(fact)

687
no.5
0
1
1
2
3
5
no.5
5
10
9
8
7
6
5
4
3
2
1
no.5
1

In [5]:
# sum of 1/1!+2/2!+3/3!...
res = 0
fac = 1
n= int(input('no.'))
for i in range(1,n+1):
  fac *= i
  res = res+i/fac
print(res)

no.5
2.708333333333333

**PATTERNS**

In [72]:
# patterns
'''
*
**
***
'''

for i in range(1,4):
  for j in range(1,i+1):
    print('*',end='')
  print()

'''
1
12
121
12321
1234321
'''

for i in range(1,6):      #2
  for j in range(1,i+1):  #1,2
    print(j,end='')
  for k in range(i-1,0,-1):#1
    print(k,end='')
  print()

'''
1
2 3
4 5 6
7 8 9 10
11 12 13 14 15
'''

num = 1
for i in range(1,5):
  for j in range(i):
    print(num,end='')
    num+=1
  print()


'''
    *
   ***
  *****
 *******
*********
'''

num = 5
for i in range(1,n+1):
  print(' '*(n-i)+'*'*(2*i-1))


'''
    1
   121
  12321
 1234321
123454321
'''

n = 5
for i in range(1,n):
  print(' '*(n-i),end='')
  for j in range(1,i+1):
    print(j,end='')
  for k in range(i-1,0,-1):
    print(k,end='')
  print()

'''
*****
*   *
*   *
*   *
*****
'''

n= 5
for i in range(n):
  if i==0 or i==n-1 or i==2:
    print('*'*n)
  else:
    print('*'+' '*(n-2)+'*')

*
**
***
1
121
12321
1234321
123454321
1
23
456
78910
    *
   ***
  *****
 *******
*********
    1
   121
  12321
 1234321
*****
*   *
*****
*   *
*****