<a href="https://colab.research.google.com/github/FazilMSD7/Data-Analytics/blob/main/Py_fundamentals/PyPractice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**LOOPS PRACTICE**

In [ ]:
# For Loops :
# sum of 1-50 even numbers using continue
sum = 0
for i in range(1,51):
  if i%2!=0:
    continue
  sum+=i
print(sum)

# first multiple of 7 in 10-50 using break
for i in  range(10,51):
  if i%7==0:
    break
print(i)

# count how many times letter 'a' appears in string
count = 0
for i in 'australia':
  if i == 'a':
    count+=1
  continue
print(count)

# prime numbers from 10,30
for i in range(10,31):
  for j in range(2,i):
    if i%j==0:
      break
  else:
    print(i)

# sum positive numbers until 0 using break
sum = 0
li = [2,4,6,-1,7,4,0,3,7]
for i in li:
  if i>0:
    sum+=i
  elif i==0:
    break
print(sum)

# all non-alphabet char in string
li = 'sd#7c&6"s8)sd#bf^e32'
letters = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z','a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z']

for i in li:
  if i not in letters:
    print(i)
    continue

# largest even number in list
li = [18, 64, 80, 12, 46, 98, 34, 76, 22, 58]
largest = 0
for i in li:
  if i>largest:
    largest = i
print(largest)

# largest in odd number in li:
li = [32,55,66,201,33,34,134]
lar= 0
for i in li:
    if i>lar and i%2!=0:
        lar=i
print(lar)

650
14
3
11
13
17
19
23
29
23
#
7
&
6
"
8
)
#
^
3
2
98
201

In [ ]:
# Accepting a number from the user until the user enters Zero. Display the sum and average
sum = 0
count = 0
for i in range(1000):
  num = int(input('no.'))
  if num==0:
    break
  sum+=num
  count+=1
print(f'sum:{sum},avg:{sum/count}')

no.87
no.56
no.88
no.0
sum:231,avg:77.0

In [ ]:
# if number is odd in a list, find index of odd number
li = [0,22,23,54,13,42,6]
index = 0
for i in range(len(li)):
  if li[i]%2!=0:
    index+=1
print(index)

# using enum
li = [22,54,9,10,23]
for index,i in enumerate(li):
  if i%2!=0:
    break
print(i, index)

''' numbers which are divisible by 7 but are not a multiple of 5, between 2000 and 3200 (both included).
 The numbers obtained should be printed in a comma-separated sequence on a single line'''

for i in range(100,201):
  if i%7==0 and i%5!=0:
      print(i,end=',')
print('\n')
# to avoid comma at last
res=[]
for i in range(100,201):
    if i%7==0 and i%5!=0:
        res.append(str(i))
print(','.join(res))


'''Take a user input as integer N. Find out the sum from 1 to N. If any number if divisible by 5, then skip that number.
And if the sum is greater than 300, don't need to calculate the sum further more. Print the final result. And don't use for loop to solve this problem.'''

n= int(input('no'))
sum = 0
for i in range(1,n+1):
    if i%5==0:
        continue
    sum+=i
    if sum>300:
        sum-=i
        break
print(sum)

2
9 2
112,119,126,133,147,154,161,168,182,189,196,

112,119,126,133,147,154,161,168,182,189,196

In [ ]:
'''Write a program, which will find all such numbers between 1000 and 3000 (both included) such that each digit of the number is an even number.
 The numbers obtained should be printed in a space-separated sequence on a single line.'''
res = []
for i in range(200,501): #250
  flag = True
  cur = i
  while cur>0:
    last = cur%10 #0
    if last%2!=0:
       flag=False
       break
    cur = cur//10
  if flag==True:
      res.append(str(i))
print(res)

['200', '202', '204', '206', '208', '220', '222', '224', '226', '228', '240', '242', '244', '246', '248', '260', '262', '264', '266', '268', '280', '282', '284', '286', '288', '400', '402', '404', '406', '408', '420', '422', '424', '426', '428', '440', '442', '444', '446', '448', '460', '462', '464', '466', '468', '480', '482', '484', '486', '488']

In [ ]:
# while loop:
# reverse an number:
rev = 0
num = 786
while num>0:
  last = num%10 #6
  rev = rev*10 + last
  num = num//10
print(rev)

# fib - n
n = int(input('no.'))
num1, num2 = 0,1
i=0
while i<=n:
  print(num1)
  c= num1 + num2
  num1 = num2
  num2 = c
  i+=1

#sum of digits
n = int(input('no.'))
sum = 0
while n>0:
  last = n%10
  sum+=last
  n = n//10
print(sum)

#countdown 10-1:
import time
num = 10
while num>0:
  print(num)
  time.sleep(1)
  num-=1

# factorial
n = int(input('no.'))
fact = 1
i=1
while i<=n:
  fact*=i
  i+=1
print(fact)

687
no.5
0
1
1
2
3
5
no.5
5
10
9
8
7
6
5
4
3
2
1
no.5
1

In [ ]:
# sum of 1/1!+2/2!+3/3!...
res = 0
fac = 1
n= int(input('no.'))
for i in range(1,n+1):
  fac *= i
  res = res+i/fac
print(res)

no.5
2.708333333333333

**PATTERNS**

In [ ]:
# patterns
'''
*
**
***
'''

for i in range(1,4):
  for j in range(1,i+1):
    print('*',end='')
  print()

'''
1
12
121
12321
1234321
'''

for i in range(1,6):      #2
  for j in range(1,i+1):  #1,2
    print(j,end='')
  for k in range(i-1,0,-1):#1
    print(k,end='')
  print()

'''
1
2 3
4 5 6
7 8 9 10
11 12 13 14 15
'''

num = 1
for i in range(1,5):
  for j in range(i):
    print(num,end='')
    num+=1
  print()


'''
    *
   ***
  *****
 *******
*********
'''

num = 5
for i in range(1,num+1):
  print(' '*(num-i)+'*'*(2*i-1))


'''
    1
   121
  12321
 1234321
123454321
'''

n = 5
for i in range(1,n):
  print(' '*(n-i),end='')
  for j in range(1,i+1):
    print(j,end='')
  for k in range(i-1,0,-1):
    print(k,end='')
  print()

'''
*****
*   *
*   *
*   *
*****
'''

n= 5
for i in range(n):
  if i==0 or i==n-1 or i==2:
    print('*'*n)
  else:
    print('*'+' '*(n-2)+'*')

*
**
***
1
121
12321
1234321
123454321
1
23
456
78910
    *
   ***
  *****
 *******
*********
    1
   121
  12321
 1234321
*****
*   *
*****
*   *
*****

**Loops Practice**

In [ ]:
'''
5 4 3 2 1
4 3 2 1
3 2 1
2 1
1
'''
n = 5
for i in range(0,n):
    for j in range(n-i,0,-1):
        print(j,end='')
    print()

'''
*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*
'''

n = 5
for i in range(0,n):
    for j in range(0,i+1):
        print('*',end='')
    print()
for i in range(0,n):
    for k in range(n-i,0,-1):
        print('*',end='')
    print()

'''
        *
      * * *
    * * * * *
   * * * * * * *
* * * * * * * * *
'''

n = 3
for i in range(1,n+1):
    print(' '*(n),end='')
    print('* '*i)
    n-=1

n=5
for i in range(1,n+1):
    print(' '*(n-i)+'* '*i)


'''
1

2 1

3 2 1

4 3 2 1

5 4 3 2 1
'''

for i in range(1,7):
    for j in range(i,0,-1):
        print(j,end='')
    print()
print()
# 1 + x^2/2 + x^3/3 + … x^n/n
# n will be provided by the user

sum =1
n=5
x= 10
for i in range(2,n+1):
    sum = sum + x**i/i
print(sum)
print()

#x-1/x + 1/2(x-1/x)2 + 1/2(x-1/x)3 +...

x=10
n=5
sum = (x-1)/x
for i in range(2,n+1):
    sum = sum + (1/2*((x-1)/x))**i
print(sum)
print()

#if n =5 the series will become 2 + 22 + 222 + 2222 + 22222 = 24690

n =3
sum =0
s = 2
for i in range(1,n+1):
    sum +=s
    s = s*10 + 2
print(sum)
print()

'''
1 2 3 4
1 2 4 3
1 3 2 4
1 3 4 2
1 4 2 3
1 4 3 2
2 1 3 4
2 1 4 3
2 3 1 4
2 3 4 1
2 4 1 3
.
.
and so on
'''

for i in range(1,3):
    for j in range(1,3):
        for k in range(1,3):
            for l in range(1,3):
                print(i,j,k,l)

54321
4321
321
21
1
*
**
***
****
*****
*****
****
***
**
*
   *
  * *
 * * *
    *
   * *
  * * *
 * * * *
* * * * *
1
21
321
4321
54321
654321

22884.333333333332

1.2530840625

246

1 1 1 1
1 1 1 2
1 1 2 1
1 1 2 2
1 2 1 1
1 2 1 2
1 2 2 1
1 2 2 2
2 1 1 1
2 1 1 2
2 1 2 1
2 1 2 2
2 2 1 1
2 2 1 2
2 2 2 1
2 2 2 2

In [ ]:
# 1. count no. of letter in string
a = 'dhcs'
count = 0
for i in a:
  count+=1
print(count)

# 2. print username from an email
a = 'fazilmsd7@gmail.com'
for i in a:
  if i == '@':
    break
  print(i,end='')
print()

print(a.index('@'))
print(a[0:9])

# 3. count no. of times letter occured/frequency of letter
a = 'fazilmsd7@gmail.com'
count = 0
for i in a:
  if i == 'a':
    count+=1
print(count)

print(a.count('a'))
# 4. remove particular char and print other
a = 'fazilmsd7@gmail.com'
for i in a:
  if i == '7':
    continue
  print(i,end='')
print()
# 5. palindrome
a = 'malayalam'
if a == a[::-1]:
  print('palindrome')
else:
  print('not palindrome')

for i in range(0,len(a)//2):
  if a[i] != a[len(a)-i-1]:
    print('not palindrome')
    break
print('palindrome')

# 6. count no. of words in string
a = 'hello my name is fazil'
count =0
s = a.split()
for i in s:
  count+=1
print(count)

# 7. converts string to title
s = a.title()
print(s)

4
fazilmsd7
9
fazilmsd7
2
2
fazilmsd@gmail.com
palindrome
palindrome
5
Hello My Name Is Fazil

**String Practice**

In [5]:
#1. remove duplicate
a = 'aeroplane'
s = ''
for i in a:
    if i not in s:
        s+=i
print(s)

#2. word location in string
Sentence= 'We can learn data science through campusx mentorship program.'
word= 'campusx'

a = Sentence.split()
print(1+a.index(word))

count =0  #without index()
for i in a:
    count+=1
    if i == word:
        break
print(count)

#3.reverse words in string
a = 'my name is laxmi'
s = a.split()[::-1]
l = ''
for i in s:
    l = l+' '+i
print(l)

#4. chk whether symmetrical:(if both halves are same)
a = 'khokho'
if a[0:3] ==a[3:]:
    print('sym')
else:
    print('no')

#5. remove char in string except integer
str1 = 'I am 25 years and 10 months old'
for i in str1:
    if i.isdigit() == True:
        print(i,end='')
print()

#6. sum, avg of integers in string
a = 'hel123o4every093'
f = ''
s = 0
for i in a:
    if i.isdigit() == True:
        f+=i
print(f)
f = int(f)
count = 0
while f>0:
    l = f%10
    s+=l
    f = f//10
    count+=1
print(s)
print('avg: ',s/count)

#7. short form of given string in cap
s = 'Data science mentorship program'
a = s.title()
l = a.split()
for i in l:
    print(i[0],end='')

aeropln
7
7
 laxmi is name my
sym
2510
1234093
22
avg:  3.142857142857143
DSMP

List Practice

In [42]:
#1. Combine two lists index-wise(columns wise)
list1 = ["M", "na", "i", "Kh"]
list2 = ["y", "me", "s", "an"]
l = []
for i in zip(list1,list2):
  l.append(i)
print('1. ',l)

a = [[i,j] for (i,j) in zip(list1,list2)]
print('1. ',a)

1.  [('M', 'y'), ('na', 'me'), ('i', 's'), ('Kh', 'an')]
1.  [['M', 'y'], ['na', 'me'], ['i', 's'], ['Kh', 'an']]

In [43]:
#2. Add new item to list after a specified item : add item 7000 after 6000
list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]
list1[2][2].append(7000)
print('2. ',list1)

2.  [10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

In [44]:
#3. Write a program to show no. of items of each candy type. Update no of items available
candy_list = ['Jelly Belly','Kit Kat','Double Bubble','Milky Way','Three Musketeers']
no_of_items = [10,20,34,74,32]
l = list(zip(candy_list,no_of_items))
print('3. ',l)

for i,j in zip(candy_list,no_of_items):
  print(i,'-',j)

3.  [('Jelly Belly', 10), ('Kit Kat', 20), ('Double Bubble', 34), ('Milky Way', 74), ('Three Musketeers', 32)]
Jelly Belly - 10
Kit Kat - 20
Double Bubble - 34
Milky Way - 74
Three Musketeers - 32

In [45]:
#4. Write a program to print a list after performing running sum on it
list1 = [1,2,3,4,5,6]
l = []
sum = 0
for i in list1:
  sum+=i
  l.append(sum)
print('4. ',l)

4.  [1, 3, 6, 10, 15, 21]

In [46]:
#5. Find list of common unique items from two list. and show in increasing order
num1 = [23,45,67,78,89,34,67]
num2 = [34,89,55,56,39,67,67]
n = []
for i in num1 and num2:
  if i in num1 and num2:
    if i not in n:
      n.append(i)
print('5. ',sorted(n))

u = [i for i in num1 and num2 if i in num1 and num2]
print('5. ',sorted(u))  #can't use

5.  [34, 67, 89]
5.  [34, 67, 67, 89]

In [3]:
from re import split
#6. Split String of list on K character.
l = ['CampusX is a channel', 'for data-science', 'aspirants.']
d = []
k=[]
for i in l:
  y = i.split()
  k.append(y)
  for j in y:
    d.append(j)
print('6. ',d)
print('just to check i.split() --> ',k)

print('comp. : ',[j for i in l for j in i.split()])

result = []
for i in l:
  result.extend(i.split())
print('6. ',result)

6.  ['CampusX', 'is', 'a', 'channel', 'for', 'data-science', 'aspirants.']
just to check i.split() -->  [['CampusX', 'is', 'a', 'channel'], ['for', 'data-science'], ['aspirants.']]
comp. :  ['CampusX', 'is', 'a', 'channel', 'for', 'data-science', 'aspirants.']
6.  ['CampusX', 'is', 'a', 'channel', 'for', 'data-science', 'aspirants.']

In [92]:
#7. Convert Character Matrix to single String using string comprehension
l = [['c', 'a', 'm', 'p', 'u', 'x'], ['i', 's'], ['b', 'e', 's', 't'], ['c', 'h', 'a', 'n', 'n', 'e', 'l']]
o =''
for i in l:
  o += ' '
  for j in i:
    o += j
print('7. ',o)

y = [j for i in l for j in i]
print('sep. cmplty--> ',y)

print(' '.join([''.join(i) for i in l]))

7.   campux is best channel
sep. cmplty-->  ['c', 'a', 'm', 'p', 'u', 'x', 'i', 's', 'b', 'e', 's', 't', 'c', 'h', 'a', 'n', 'n', 'e', 'l']
campux is best channel

In [141]:
#8. Add Space between Potential Words --> op: ['campusx Is', 'best For', 'data Scientist']
l = ['campusxIs', 'bestFor', 'dataScientist']
r = []
for i in l:
  new_word = ''
  for j in i:
    if j.isupper():
      new_word = new_word +' '+ j
    else:
      new_word+=j
  r.append(new_word)
print('8. ',r)

print([''.join(' '+j if j.isupper() else j for j in i)for i in l])

8.  ['campusx Is', 'best For', 'data Scientist']
['campusx Is', 'best For', 'data Scientist']

In [50]:
#9. Write a program that can perform union operation on 2 lists
l1 = [1,2,3,4,5,1]
l2 = [2,3,5,7,8]
l3 = l1+l2
l4 = []
for i in l3:
  if i not in l4:
    l4.append(i)
print('9. ',l4)

9.  [1, 2, 3, 4, 5, 7, 8]

In [172]:
#10. Write a program that can find the max number of each row of a matrix
l = [[1,2,3],[4,5,6],[7,8,9]]
l2 = []
for i in l:
  for j in i:
    if j == max(i):
      l2.append(j)
print('10. ',l2)

r = []
for i in l:
  r.append(max(i))
print(r)

print('list comp: ',
    [j for i in l for j in i if j==max(i)])

10.  [3, 6, 9]
[3, 6, 9]
list comp:  [3, 6, 9]

In [169]:
#11. Write a list comprehension that can flatten a nested list
#op : [1, 2, 3, 4, 5, 6, 7, 8, 9]
matrix = [
[1,2,3],
[4,5,6],
[7,8,9]]
m= []
for i in matrix:
  for j in i:
    m.append(j)
print('11. ',m)

print([j for i in matrix for j in i])

11.  [1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [168]:
#12. Write a list comprehension that can transpose a given matrix
'''op : [1, 4, 7]
        [2, 5, 8]
        [3, 6, 9]'''

matrix = [
[1,2,3],
[4,5,6],
[7,8,9]]
e = []
f = []
g = []
for i in matrix:
  for j in i:
    if i.index(j) == 0:
      e.append(j)
    elif i.index(j) == 1:
      f.append(j)
    else:
      g.append(j)
print('12. ',e,f,g)

print([[row[i] for row in matrix]for i in range(len(matrix))])

12.  [1, 4, 7] [2, 5, 8] [3, 6, 9]
[[1, 4, 7], [2, 5, 8], [3, 6, 9]]

In [142]:
#13.   You are given a list of integers. You are asked to make a list by running through elements of the list by adding all elements greater and itself.
# list is [2,4,6,10,1] -> resultant list= [22,20,16,10,23]
l= [2,4,6,10,1]
n= []
sum = 0
for i in l:
  sum =0
  for j in l:
    if j>=i:
      sum+=j
  n.append(sum)
print('13. ',n)

13.  [22, 20, 16, 10, 23]

In [71]:
#14. Sort a list of alphanumeric strings based on product value of numeric character in it. If in any string there is no numeric character take it's product value as 1.
# Output: ['456', '23fg', '1ac21', '1', 'kls', '098d']
l = ['1ac21', '23fg', '456', '098d','1','kls']
s= []
p= []
for i in l:
  sum = 0
  prd = 1
  for j in i:
    if j.isdigit():
      sum+=int(j)
      prd*=int(j)
  s.append(sum)
  p.append(prd)
print('sum: ',s)
print('prd: ',p)

q = list(zip(p,l))
print(q)

print([i[1] for i in sorted((q),reverse=True)])

sum:  [4, 5, 15, 17, 1, 0]
prd:  [2, 6, 120, 0, 1, 1]
[(2, '1ac21'), (6, '23fg'), (120, '456'), (0, '098d'), (1, '1'), (1, 'kls')]
['456', '23fg', '1ac21', 'kls', '1', '098d']

In [162]:
#15. Write a list comprehension to print the following matrix --> [[0, 1, 2], [3, 4, 5], [6, 7, 8]]
print([[j+3*i for j in range(3)]for i in range(3)])

[[0, 1, 2], [3, 4, 5], [6, 7, 8]]