<a href="https://colab.research.google.com/github/FazilMSD7/Data-Analytics/blob/main/Py_fundamentals/PyPractice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**LOOPS PRACTICE**

In [ ]:
# For Loops :
# sum of 1-50 even numbers using continue
sum = 0
for i in range(1,51):
  if i%2!=0:
    continue
  sum+=i
print(sum)

# first multiple of 7 in 10-50 using break
for i in  range(10,51):
  if i%7==0:
    break
print(i)

# count how many times letter 'a' appears in string
count = 0
for i in 'australia':
  if i == 'a':
    count+=1
  continue
print(count)

# prime numbers from 10,30
for i in range(10,31):
  for j in range(2,i):
    if i%j==0:
      break
  else:
    print(i)

# sum positive numbers until 0 using break
sum = 0
li = [2,4,6,-1,7,4,0,3,7]
for i in li:
  if i>0:
    sum+=i
  elif i==0:
    break
print(sum)

# all non-alphabet char in string
li = 'sd#7c&6"s8)sd#bf^e32'
letters = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z','a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z']

for i in li:
  if i not in letters:
    print(i)
    continue

# largest even number in list
li = [18, 64, 80, 12, 46, 98, 34, 76, 22, 58]
largest = 0
for i in li:
  if i>largest:
    largest = i
print(largest)

# largest in odd number in li:
li = [32,55,66,201,33,34,134]
lar= 0
for i in li:
    if i>lar and i%2!=0:
        lar=i
print(lar)

650
14
3
11
13
17
19
23
29
23
#
7
&
6
"
8
)
#
^
3
2
98
201

In [ ]:
# Accepting a number from the user until the user enters Zero. Display the sum and average
sum = 0
count = 0
for i in range(1000):
  num = int(input('no.'))
  if num==0:
    break
  sum+=num
  count+=1
print(f'sum:{sum},avg:{sum/count}')

no.87
no.56
no.88
no.0
sum:231,avg:77.0

In [ ]:
# if number is odd in a list, find index of odd number
li = [0,22,23,54,13,42,6]
index = 0
for i in range(len(li)):
  if li[i]%2!=0:
    index+=1
print(index)

# using enum
li = [22,54,9,10,23]
for index,i in enumerate(li):
  if i%2!=0:
    break
print(i, index)

''' numbers which are divisible by 7 but are not a multiple of 5, between 2000 and 3200 (both included).
 The numbers obtained should be printed in a comma-separated sequence on a single line'''

for i in range(100,201):
  if i%7==0 and i%5!=0:
      print(i,end=',')
print('\n')
# to avoid comma at last
res=[]
for i in range(100,201):
    if i%7==0 and i%5!=0:
        res.append(str(i))
print(','.join(res))


'''Take a user input as integer N. Find out the sum from 1 to N. If any number if divisible by 5, then skip that number.
And if the sum is greater than 300, don't need to calculate the sum further more. Print the final result. And don't use for loop to solve this problem.'''

n= int(input('no'))
sum = 0
for i in range(1,n+1):
    if i%5==0:
        continue
    sum+=i
    if sum>300:
        sum-=i
        break
print(sum)

2
9 2
112,119,126,133,147,154,161,168,182,189,196,

112,119,126,133,147,154,161,168,182,189,196

In [ ]:
'''Write a program, which will find all such numbers between 1000 and 3000 (both included) such that each digit of the number is an even number.
 The numbers obtained should be printed in a space-separated sequence on a single line.'''
res = []
for i in range(200,501): #250
  flag = True
  cur = i
  while cur>0:
    last = cur%10 #0
    if last%2!=0:
       flag=False
       break
    cur = cur//10
  if flag==True:
      res.append(str(i))
print(res)

['200', '202', '204', '206', '208', '220', '222', '224', '226', '228', '240', '242', '244', '246', '248', '260', '262', '264', '266', '268', '280', '282', '284', '286', '288', '400', '402', '404', '406', '408', '420', '422', '424', '426', '428', '440', '442', '444', '446', '448', '460', '462', '464', '466', '468', '480', '482', '484', '486', '488']

In [ ]:
# while loop:
# reverse an number:
rev = 0
num = 786
while num>0:
  last = num%10 #6
  rev = rev*10 + last
  num = num//10
print(rev)

# fib - n
n = int(input('no.'))
num1, num2 = 0,1
i=0
while i<=n:
  print(num1)
  c= num1 + num2
  num1 = num2
  num2 = c
  i+=1

#sum of digits
n = int(input('no.'))
sum = 0
while n>0:
  last = n%10
  sum+=last
  n = n//10
print(sum)

#countdown 10-1:
import time
num = 10
while num>0:
  print(num)
  time.sleep(1)
  num-=1

# factorial
n = int(input('no.'))
fact = 1
i=1
while i<=n:
  fact*=i
  i+=1
print(fact)

687
no.5
0
1
1
2
3
5
no.5
5
10
9
8
7
6
5
4
3
2
1
no.5
1

In [ ]:
# sum of 1/1!+2/2!+3/3!...
res = 0
fac = 1
n= int(input('no.'))
for i in range(1,n+1):
  fac *= i
  res = res+i/fac
print(res)

no.5
2.708333333333333

**PATTERNS**

In [ ]:
# patterns
'''
*
**
***
'''

for i in range(1,4):
  for j in range(1,i+1):
    print('*',end='')
  print()

'''
1
12
121
12321
1234321
'''

for i in range(1,6):      #2
  for j in range(1,i+1):  #1,2
    print(j,end='')
  for k in range(i-1,0,-1):#1
    print(k,end='')
  print()

'''
1
2 3
4 5 6
7 8 9 10
11 12 13 14 15
'''

num = 1
for i in range(1,5):
  for j in range(i):
    print(num,end='')
    num+=1
  print()


'''
    *
   ***
  *****
 *******
*********
'''

num = 5
for i in range(1,num+1):
  print(' '*(num-i)+'*'*(2*i-1))


'''
    1
   121
  12321
 1234321
123454321
'''

n = 5
for i in range(1,n):
  print(' '*(n-i),end='')
  for j in range(1,i+1):
    print(j,end='')
  for k in range(i-1,0,-1):
    print(k,end='')
  print()

'''
*****
*   *
*   *
*   *
*****
'''

n= 5
for i in range(n):
  if i==0 or i==n-1 or i==2:
    print('*'*n)
  else:
    print('*'+' '*(n-2)+'*')

*
**
***
1
121
12321
1234321
123454321
1
23
456
78910
    *
   ***
  *****
 *******
*********
    1
   121
  12321
 1234321
*****
*   *
*****
*   *
*****

**Loops Practice**

In [ ]:
'''
5 4 3 2 1
4 3 2 1
3 2 1
2 1
1
'''
n = 5
for i in range(0,n):
    for j in range(n-i,0,-1):
        print(j,end='')
    print()

'''
*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*
'''

n = 5
for i in range(0,n):
    for j in range(0,i+1):
        print('*',end='')
    print()
for i in range(0,n):
    for k in range(n-i,0,-1):
        print('*',end='')
    print()

'''
        *
      * * *
    * * * * *
   * * * * * * *
* * * * * * * * *
'''

n = 3
for i in range(1,n+1):
    print(' '*(n),end='')
    print('* '*i)
    n-=1

n=5
for i in range(1,n+1):
    print(' '*(n-i)+'* '*i)


'''
1

2 1

3 2 1

4 3 2 1

5 4 3 2 1
'''

for i in range(1,7):
    for j in range(i,0,-1):
        print(j,end='')
    print()
print()
# 1 + x^2/2 + x^3/3 + … x^n/n
# n will be provided by the user

sum =1
n=5
x= 10
for i in range(2,n+1):
    sum = sum + x**i/i
print(sum)
print()

#x-1/x + 1/2(x-1/x)2 + 1/2(x-1/x)3 +...

x=10
n=5
sum = (x-1)/x
for i in range(2,n+1):
    sum = sum + (1/2*((x-1)/x))**i
print(sum)
print()

#if n =5 the series will become 2 + 22 + 222 + 2222 + 22222 = 24690

n =3
sum =0
s = 2
for i in range(1,n+1):
    sum +=s
    s = s*10 + 2
print(sum)
print()

'''
1 2 3 4
1 2 4 3
1 3 2 4
1 3 4 2
1 4 2 3
1 4 3 2
2 1 3 4
2 1 4 3
2 3 1 4
2 3 4 1
2 4 1 3
.
.
and so on
'''

for i in range(1,3):
    for j in range(1,3):
        for k in range(1,3):
            for l in range(1,3):
                print(i,j,k,l)

54321
4321
321
21
1
*
**
***
****
*****
*****
****
***
**
*
   *
  * *
 * * *
    *
   * *
  * * *
 * * * *
* * * * *
1
21
321
4321
54321
654321

22884.333333333332

1.2530840625

246

1 1 1 1
1 1 1 2
1 1 2 1
1 1 2 2
1 2 1 1
1 2 1 2
1 2 2 1
1 2 2 2
2 1 1 1
2 1 1 2
2 1 2 1
2 1 2 2
2 2 1 1
2 2 1 2
2 2 2 1
2 2 2 2

In [ ]:
# 1. count no. of letter in string
a = 'dhcs'
count = 0
for i in a:
  count+=1
print(count)

# 2. print username from an email
a = 'fazilmsd7@gmail.com'
for i in a:
  if i == '@':
    break
  print(i,end='')
print()

print(a.index('@'))
print(a[0:9])

# 3. count no. of times letter occured/frequency of letter
a = 'fazilmsd7@gmail.com'
count = 0
for i in a:
  if i == 'a':
    count+=1
print(count)

print(a.count('a'))
# 4. remove particular char and print other
a = 'fazilmsd7@gmail.com'
for i in a:
  if i == '7':
    continue
  print(i,end='')
print()
# 5. palindrome
a = 'malayalam'
if a == a[::-1]:
  print('palindrome')
else:
  print('not palindrome')

for i in range(0,len(a)//2):
  if a[i] != a[len(a)-i-1]:
    print('not palindrome')
    break
print('palindrome')

# 6. count no. of words in string
a = 'hello my name is fazil'
count =0
s = a.split()
for i in s:
  count+=1
print(count)

# 7. converts string to title
s = a.title()
print(s)

4
fazilmsd7
9
fazilmsd7
2
2
fazilmsd@gmail.com
palindrome
palindrome
5
Hello My Name Is Fazil

**String Practice**

In [ ]:
#1. remove duplicate
a = 'aeroplane'
s = ''
for i in a:
    if i not in s:
        s+=i
print(s)

#2. word location in string
Sentence= 'We can learn data science through campusx mentorship program.'
word= 'campusx'

a = Sentence.split()
print(1+a.index(word))

count =0  #without index()
for i in a:
    count+=1
    if i == word:
        break
print(count)

#3.reverse words in string
a = 'my name is laxmi'
s = a.split()[::-1]
l = ''
for i in s:
    l = l+' '+i
print(l)

#4. chk whether symmetrical:(if both halves are same)
a = 'khokho'
if a[0:3] ==a[3:]:
    print('sym')
else:
    print('no')

#5. remove char in string except integer
str1 = 'I am 25 years and 10 months old'
for i in str1:
    if i.isdigit() == True:
        print(i,end='')
print()

#6. sum, avg of integers in string
a = 'hel123o4every093'
f = ''
s = 0
for i in a:
    if i.isdigit() == True:
        f+=i
print(f)
f = int(f)
count = 0
while f>0:
    l = f%10
    s+=l
    f = f//10
    count+=1
print(s)
print('avg: ',s/count)

#7. short form of given string in cap
s = 'Data science mentorship program'
a = s.title()
l = a.split()
for i in l:
    print(i[0],end='')

aeropln
7
7
 laxmi is name my
sym
2510
1234093
22
avg:  3.142857142857143
DSMP

**List Practice**

In [ ]:
#1. Combine two lists index-wise(columns wise)
list1 = ["M", "na", "i", "Kh"]
list2 = ["y", "me", "s", "an"]
l = []
for i in zip(list1,list2):
  l.append(i)
print('1. ',l)

a = [[i,j] for (i,j) in zip(list1,list2)]
print('1. ',a)

1.  [('M', 'y'), ('na', 'me'), ('i', 's'), ('Kh', 'an')]
1.  [['M', 'y'], ['na', 'me'], ['i', 's'], ['Kh', 'an']]

In [ ]:
#2. Add new item to list after a specified item : add item 7000 after 6000
list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]
list1[2][2].append(7000)
print('2. ',list1)

2.  [10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

In [ ]:
#3. Write a program to show no. of items of each candy type. Update no of items available
candy_list = ['Jelly Belly','Kit Kat','Double Bubble','Milky Way','Three Musketeers']
no_of_items = [10,20,34,74,32]
l = list(zip(candy_list,no_of_items))
print('3. ',l)

for i,j in zip(candy_list,no_of_items):
  print(i,'-',j)

3.  [('Jelly Belly', 10), ('Kit Kat', 20), ('Double Bubble', 34), ('Milky Way', 74), ('Three Musketeers', 32)]
Jelly Belly - 10
Kit Kat - 20
Double Bubble - 34
Milky Way - 74
Three Musketeers - 32

In [ ]:
#4. Write a program to print a list after performing running sum on it
list1 = [1,2,3,4,5,6]
l = []
sum = 0
for i in list1:
  sum+=i
  l.append(sum)
print('4. ',l)

4.  [1, 3, 6, 10, 15, 21]

In [ ]:
#5. Find list of common unique items from two list. and show in increasing order
num1 = [23,45,67,78,89,34,67]
num2 = [34,89,55,56,39,67,67]
n = []
for i in num1 and num2:
  if i in num1 and num2:
    if i not in n:
      n.append(i)
print('5. ',sorted(n))

u = [i for i in num1 and num2 if i in num1 and num2]
print('5. ',sorted(u))  #can't use

5.  [34, 67, 89]
5.  [34, 67, 67, 89]

In [ ]:
from re import split
#6. Split String of list on K character.
l = ['CampusX is a channel', 'for data-science', 'aspirants.']
d = []
k=[]
for i in l:
  y = i.split()
  k.append(y)
  for j in y:
    d.append(j)
print('6. ',d)
print('just to check i.split() --> ',k)

print('comp. : ',[j for i in l for j in i.split()])

result = []
for i in l:
  result.extend(i.split())
print('6. ',result)

6.  ['CampusX', 'is', 'a', 'channel', 'for', 'data-science', 'aspirants.']
just to check i.split() -->  [['CampusX', 'is', 'a', 'channel'], ['for', 'data-science'], ['aspirants.']]
comp. :  ['CampusX', 'is', 'a', 'channel', 'for', 'data-science', 'aspirants.']
6.  ['CampusX', 'is', 'a', 'channel', 'for', 'data-science', 'aspirants.']

In [ ]:
#7. Convert Character Matrix to single String using string comprehension
l = [['c', 'a', 'm', 'p', 'u', 'x'], ['i', 's'], ['b', 'e', 's', 't'], ['c', 'h', 'a', 'n', 'n', 'e', 'l']]
o =''
for i in l:
  o += ' '
  for j in i:
    o += j
print('7. ',o)

y = [j for i in l for j in i]
print('sep. cmplty--> ',y)

print(' '.join([''.join(i) for i in l]))

7.   campux is best channel
sep. cmplty-->  ['c', 'a', 'm', 'p', 'u', 'x', 'i', 's', 'b', 'e', 's', 't', 'c', 'h', 'a', 'n', 'n', 'e', 'l']
campux is best channel

In [ ]:
#8. Add Space between Potential Words --> op: ['campusx Is', 'best For', 'data Scientist']
l = ['campusxIs', 'bestFor', 'dataScientist']
r = []
for i in l:
  new_word = ''
  for j in i:
    if j.isupper():
      new_word = new_word +' '+ j
    else:
      new_word+=j
  r.append(new_word)
print('8. ',r)

print([''.join(' '+j if j.isupper() else j for j in i)for i in l])

8.  ['campusx Is', 'best For', 'data Scientist']
['campusx Is', 'best For', 'data Scientist']

In [ ]:
#9. Write a program that can perform union operation on 2 lists
l1 = [1,2,3,4,5,1]
l2 = [2,3,5,7,8]
l3 = l1+l2
l4 = []
for i in l3:
  if i not in l4:
    l4.append(i)
print('9. ',l4)

9.  [1, 2, 3, 4, 5, 7, 8]

In [ ]:
#10. Write a program that can find the max number of each row of a matrix
l = [[1,2,3],[4,5,6],[7,8,9]]
l2 = []
for i in l:
  for j in i:
    if j == max(i):
      l2.append(j)
print('10. ',l2)

r = []
for i in l:
  r.append(max(i))
print(r)

print('list comp: ',
    [j for i in l for j in i if j==max(i)])

10.  [3, 6, 9]
[3, 6, 9]
list comp:  [3, 6, 9]

In [ ]:
#11. Write a list comprehension that can flatten a nested list
#op : [1, 2, 3, 4, 5, 6, 7, 8, 9]
matrix = [
[1,2,3],
[4,5,6],
[7,8,9]]
m= []
for i in matrix:
  for j in i:
    m.append(j)
print('11. ',m)

print([j for i in matrix for j in i])

11.  [1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
#12. Write a list comprehension that can transpose a given matrix
'''op : [1, 4, 7]
        [2, 5, 8]
        [3, 6, 9]'''

matrix = [
[1,2,3],
[4,5,6],
[7,8,9]]
e = []
f = []
g = []
for i in matrix:
  for j in i:
    if i.index(j) == 0:
      e.append(j)
    elif i.index(j) == 1:
      f.append(j)
    else:
      g.append(j)
print('12. ',e,f,g)

print([[row[i] for row in matrix]for i in range(len(matrix))])

12.  [1, 4, 7] [2, 5, 8] [3, 6, 9]
[[1, 4, 7], [2, 5, 8], [3, 6, 9]]

In [ ]:
#13.   You are given a list of integers. You are asked to make a list by running through elements of the list by adding all elements greater and itself.
# list is [2,4,6,10,1] -> resultant list= [22,20,16,10,23]
l= [2,4,6,10,1]
n= []
sum = 0
for i in l:
  sum =0
  for j in l:
    if j>=i:
      sum+=j
  n.append(sum)
print('13. ',n)

13.  [22, 20, 16, 10, 23]

In [ ]:
#14. Sort a list of alphanumeric strings based on product value of numeric character in it. If in any string there is no numeric character take it's product value as 1.
# Output: ['456', '23fg', '1ac21', '1', 'kls', '098d']
l = ['1ac21', '23fg', '456', '098d','1','kls']
s= []
p= []
for i in l:
  sum = 0
  prd = 1
  for j in i:
    if j.isdigit():
      sum+=int(j)
      prd*=int(j)
  s.append(sum)
  p.append(prd)
print('sum: ',s)
print('prd: ',p)

q = list(zip(p,l))
print(q)

print([i[1] for i in sorted((q),reverse=True)])

sum:  [4, 5, 15, 17, 1, 0]
prd:  [2, 6, 120, 0, 1, 1]
[(2, '1ac21'), (6, '23fg'), (120, '456'), (0, '098d'), (1, '1'), (1, 'kls')]
['456', '23fg', '1ac21', 'kls', '1', '098d']

In [ ]:
#15. Write a list comprehension to print the following matrix --> [[0, 1, 2], [3, 4, 5], [6, 7, 8]]
print([[j+3*i for j in range(3)]for i in range(3)])

[[0, 1, 2], [3, 4, 5], [6, 7, 8]]

**Tuples Practice :**

In [ ]:
#`Q1:` Join Tuples if similar initial element
#Input  : test_list = [(5, 6), (5, 7), (5, 8), (6, 10), (7, 13)]   Output : [(5, 6, 7, 8), (6, 10), (7, 13)]
test_list = [(5, 6), (5, 7), (5, 8), (6, 10), (7, 13)]
unique = []
for i in test_list:
  unique.append(i[0])
unique = set(unique)
print(unique)

r = []
for i in unique:
  r.append([i])
  for j in test_list:
    if j[0] == i:
      r[-1].append(j[1])
print(list(map(tuple,r)))

{5, 6, 7}
[(5, 6, 7, 8), (6, 10), (7, 13)]

In [ ]:
#`Q2:` Multiply Adjacent elements (both side) and take sum of right and lest side multiplication result.
'''
The original tuple : (1, 5, 7, 8, 10)
Resultant tuple after multiplication :

(1*5, 1*5+5*7, 7*5 + 7*8, 8*7 + 8*10, 10*8) -> (5, 40, 91, 136, 80)

output-(5, 40, 91, 136, 80)'''

t = (1, 5, 7, 8, 10)
l = []
l.append(t[0]*t[1])

for i in range(1,len(t)-1):
  l.append(t[i]*t[i-1]+t[i]*t[i+1])

l.append(t[-1]*t[-2])
print(l)

[5, 40, 91, 136, 80]

In [ ]:
#`Q3`: Check is tuples are same or not? Two tuples would be same if both tuples have same element at same index

t1 = (1,2,3,0)
t2 = (0,1,2,3)
if t1==t2:
    print('same')
else:
    print('t1 and t2 are not same')

t1 and t2 are not same

In [ ]:
#`Q4`: Count no of tuples, list and set from a list.  Output: List-2 Set-2 Tuples-1

list1 = [{'hi', 'bye'},{'Geeks', 'forGeeks'},('a', 'b'),['hi', 'bye'],['a', 'b']]
output = [0,0,0]
for i in list1:
  if type(i) == list:
    output[0]+=1
  elif type(i) == set:
    output[1]+=1
  elif type(i) == tuple:
    output[2]+=1
print(f'list-{output[0]},set{output[1]},tuple-{output[2]}')

list-2,set2,tuple-1

In [ ]:
#`Q5`: Shortlist Students for a Job role
''' Ask user to input students record and store in tuples for each record. Then Ask user to input three things he wants in the candidate- Primary Skill, Higher Education,
Year of Graduation.

Show every students record in form of tuples if matches all required criteria.

It is assumed that there will be only one primry skill.

If no such candidate found, print `No such candidate'''

# Input:
'''Enter No of records- 2
Enter Details of student-1
Enter Student name- Manohar
Enter Higher Education- B.Tech
Enter Primary Skill- Python
Enter Year of Graduation- 2022
Enter Details of student-2
Enter Student name- Ponian
Enter Higher Education- B.Sc.
Enter Primary Skill- C++
Enter Year of Graduation- 2020

Enter Job Role Requirement
Enter Skill- Python
Enter Higher Education- B.Tech
Enter Year of Graduation- 2022'''

students = []

num= int(input('Enter No. of Students: '))

for i in range(2):
    print('Enter Details of student ',i+1)
    name = input('Enter Student name : ')
    ed = input('Enter Higher Education : ')
    skill = input('Enter Primary Skill : ')
    grad_year = input('Enter Year of Graduation : ')

    students.append((name,ed,skill,grad_year))
print(students)
print()

print('Enter Job Role Requirement : ')
req_skill = input('Enter Skill- Python : ')
req_ed = input('Enter Higher Education- B.Tech : ')
req_grad_year= input('Enter Year of Graduation- 2022 : ')

print((req_ed,req_skill,req_grad_year))
print()

flag = False
for i in students:
    if i[1]==req_ed and i[2]==req_skill and i[3]==req_grad_year:
        print(i)
        flag=True

if flag==False:
  print('No such candidate')

Enter No. of Students: 2
Enter Details of student  1
Enter Student name : Mano
Enter Higher Education : B.Tech
Enter Primary Skill : Python
Enter Year of Graduation : 2022
Enter Details of student  2
Enter Student name : Selva
Enter Higher Education : Bsc
Enter Primary Skill : Java
Enter Year of Graduation : 2019
[('Mano', 'B.Tech', 'Python', '2022'), ('Selva', 'Bsc', 'Java', '2019')]

Enter Job Role Requirement :
Enter Skill- Python : Python
Enter Higher Education- B.Tech : B.Tech
Enter Year of Graduation- 2022 : 2022
('B.Tech', 'Python', '2022')

('Mano', 'B.Tech', 'Python', '2022')

**SET Practice**

In [ ]:
#`Q1:` Write a program to find set of common elements in three lists using sets.  Output : [80, 20]

ar1 = [1, 5, 10, 20, 40, 80]
ar2 = [6, 7, 20, 80, 100]
ar3 = [3, 4, 15, 20, 30, 70, 80, 120]

ar1,ar2,ar3 = set(ar1), set(ar2), set(ar3)
print([i for i in ar1 & ar2 & ar3])

[80, 20]

In [ ]:
#`Q2:` Write a program to count unique number of vowels using sets in a given string. Lowercase and upercase vowels will be taken as different.
# Output: No of unique vowels-6

Str1 = set("hands-on data science mentorship progrAm with live classes at affordable fee only on CampusX")
s = set('aeiouAEIOU')
print('No of vowels',len(Str1 & s))

Str1 = "hands-on data science mentorship progrAm with live classes at affordable fee only on CampusX"
vowels = {'A','E','I','O','U','a','e','i','o','u'}
og = set()
for i in Str1:
    if i in vowels:
        og.add(i)
counter=len(og)
print('No of unique vowels-',counter)

No of vowels 6
No of unique vowels- 6

In [ ]:
### `Q3:` Write a program to Check if a given string is binary string of or not. A string is said to be binary if it's consists of only two unique characters.

str = set("10101001")
if len(str) == 2:
    print('Yes')
else:
    print('No')

Yes

In [ ]:
# `Q4`: find union of n arrays. Output: [1, 2, 3, 4, 5, 6, 7, 9]

arr = [[1, 2, 2, 4, 3, 6],
      [5, 1, 3, 4],
      [9, 5, 7, 1],
      [2, 4, 1, 3]]

q = set()
for i in arr:
    for j in range(len(i)):
        q.add(i[j])
print(list(q))

print(list({i[j] for i in arr for j in range(len(i))}))

for i in arr:
    q.update(i)
print(list(q))

[1, 2, 3, 4, 5, 6, 7, 9]
[1, 2, 3, 4, 5, 6, 7, 9]
[1, 2, 3, 4, 5, 6, 7, 9]

In [ ]:
# `Q5`: Intersection of two lists using list-comprehension.

lst1 = {15, 9, 10, 56, 23, 78, 5, 4, 9}
lst2 = {9, 4, 5, 36, 47, 26, 10, 45, 87}

print([i for i in lst1.intersection(lst2)])
print([i for i in lst1 if i in lst2])

lst3 = {4, 9, 1, 17, 11, 26, 28, 54, 69}
lst4 = {9, 9, 74, 21, 45, 11, 63, 28, 26}

print(sorted([i for i in lst3.intersection(lst4)]))

[9, 10, 4, 5]
[4, 5, 9, 10]
[9, 11, 26, 28]

**Dictionary Practice**

In [ ]:
# `Q1`: Key with maximum unique values. Given a dictionary with values list, extract key whose value has most unique values.
# output1 : CampusX   output2 : Best

test_dict = {"CampusX" : [5, 7, 9, 4, 0], "is" : [6, 7, 4, 3, 3], "Best" : [9, 9, 6, 5, 5]}

max_values = 0

for i in test_dict:
  if max_values < len(set(test_dict[i])):
    max_values = len(set(test_dict[i]))
    max_keys = i
print(max_keys)

test_dict = {"CampusX" : [5, 7, 7, 7, 7], "is" : [6, 7, 7, 7], "Best" : [9, 9, 6, 5, 5]}

max_values = 0
for i in test_dict:
  if max_values < len(set(test_dict[i])):
    max_values = len(set(test_dict[i]))
    max_keys = i
print(max_keys)

CampusX
Best

In [ ]:
### `Q2`: Replace words from Dictionary. Given String, replace it’s words from lookup dictionary.

test_str = 'CampusX best for DS students.'
repl_dict = {"best" : "is the best channel", "DS" : "Data-Science"}

st = []
for i in test_str.split():
    if i in repl_dict:
      st.append(repl_dict[i])
    else:
      st.append(i)
print(' '.join(st))

test_str = 'CampusX best for DS students.'
repl_dict = {"good" : "is the best channel", "ds" : "Data-Science"}

st = []
for i in test_str:
  if i in repl_dict:
    st.append(repl_dict[i])
  else:
    st.append(i)
print(''.join(st))

CampusX is the best channel for Data-Science students.
CampusX best for DS students.

In [ ]:
### `Q3`: Convert List to List of dictionaries. Given list values and keys list, convert these values to key value pairs in form of list of dictionaries.

#op : [{'name': 'DataScience', 'id': 3}, {'name': 'is', 'id': 8}]
test_list = ["DataScience", 3, "is", 8]
key_list = ["name", "id"]

n = len(test_list)
r = []
for i in range(0,n,2):
  r.append({key_list[0]:test_list[i],key_list[1]:test_list[i]})
print(r)

#op : [{'name': 'CampusX', 'id': 10}]
test_list = ["CampusX", 10]
key_list = ["name", "id"]

print({i:j for i,j in zip(key_list,test_list)})

[{'name': 'DataScience', 'id': 'DataScience'}, {'name': 'is', 'id': 'is'}]
{'name': 'CampusX', 'id': 10}

In [ ]:
### `Q4`: Convert a list of Tuples into Dictionary.

# op : {'akash': [10], 'gaurav': [12], 'anand': [14], 'suraj': [20], 'akhil': [25], 'ashish': [30]}
d = [("akash", 10), ("gaurav", 12), ("anand", 14), ("suraj", 20), ("akhil", 25), ("ashish", 30)]
print({i:j for i,j in d})


# op : {'A': [1], 'B': [2], 'C': [3]}
c = [('A', 1), ('B', 2), ('C', 3)]
print({i:j for i,j in c})

{'akash': 10, 'gaurav': 12, 'anand': 14, 'suraj': 20, 'akhil': 25, 'ashish': 30}
{'A': 1, 'B': 2, 'C': 3}

In [ ]:
### `Q5`: Sort Dictionary key and values List.

#op : {'a': [4, 19], 'b': [10, 12], 'c': [3]}
q = {'c': [3], 'b': [12, 10], 'a': [19, 4]}
d = {}
for i in sorted(q):
  d[i] = sorted(q[i])
print(d)


#op : {'c': [3, 10, 34]}
q = {'c': [10, 34, 3]}
d = {}
for i in sorted(q):
  q[i] = sorted(q[i])
print(q)

{'a': [4, 19], 'b': [10, 12], 'c': [3]}
{'c': [3, 10, 34]}

**Functions Practice**

In [ ]:
# **`Problem-1:`** Write a Python function that takes a list and returns a new list with unique elements of the first list.
# op : [1, 2, 3, 4, 5]

L = [1,2,3,3,3,3,4,5]
def f(L):
  Q = []
  for i in L:
    if i not in Q:
      Q.append(i)
  return Q
f(L)

[1, 2, 3, 4, 5]

In [ ]:
# **`Problem-2:`** Write a Python function that accepts a hyphen-separated sequence of words as parameter and returns the words in a hyphen-separated sequence after sorting them alphabetically.
# op : black-green-red-white-yellow

inp = 'green-red-yellow-black-white'.split('-')
def f(i):
  return '-'.join(sorted(inp))
f(inp)

'black-green-red-white-yellow'

In [ ]:
# **`Problem 3:`** Write a Python function that accepts a string and calculate the number of upper case letters and lower case letters.
# Expected Output : No. of Upper case characters :  9, No. of Lower case Characters :  47
Sample = 'CampusX is an Online Mentorship Program fOr EnginEering studentS.'
def f():
  upper = 0
  lower = 0
  for i in Sample:
    if i == i.upper() and i.isalpha():
      upper+=1
    elif i == i.lower() and i.isalpha():
      lower+=1
  print('Upper case : ',upper)
  print('Lower case : ',lower)
f()

Upper case :  9
Lower case :  47

In [ ]:
# **`Problem 4:`** Write a Python program to print the even numbers from a given list.
# Expected Result : [2, 4, 6, 8]

Sample = [1, 2, 3, 4, 5, 6, 7, 8, 9]
s = list(filter(lambda i : i if i%2==0 else 0,Sample))
print(s)

[2, 4, 6, 8]

In [ ]:
# **`Problem 5:`** Write a Python function to check whether a number is perfect or not.
'''A Perfect number is a number that is half the sum of all of its positive divisors (including itself).

Example :

The first perfect number is 6, because 1, 2, and 3 are its proper positive divisors, and 1 + 2 + 3 = 6.
Equivalently, the number 6 is equal to half the sum of all its positive divisors: ( 1 + 2 + 3 + 6 ) / 2 = 6.

The next perfect number is 28 = 1 + 2 + 4 + 7 + 14. This is followed by the perfect numbers 496 and 8128.'''

def is_perfect(num):
  sum = 0
  for i in range(1,num):
    if num%i == 0:
      sum+=i
  return sum==num
is_perfect(6)

True

In [ ]:
# **`Problem-6:`** Write a Python function to concatenate any no of dictionaries to create a new one.
# Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}

def con():
  s = {}
  for i in dic1,dic2,dic3:
    s.update(i)
  return s
print(con())

def conc(*kwargs):
  q = {}
  for i in kwargs:
    q.update(i)
  return q
conc(dic1,dic2,dic3)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [ ]:
# **`Problem-7`** Write a python function that accepts a string as input and returns the word with most occurence.
# Output : you -> 2
st = 'hello how are you i am fine thank you'

def count():
  counter = 1
  for i in st.split():
    if st.count(i)>counter:
      counter+=1
  print(i ,'-> ',counter)
count()

you ->  2

In [ ]:
# **`Problem-8`** Write a python function that receives a list of integers and prints out a histogram of bin size 10
# Output: {11-20:2,21-30:1,31-40:2,41-50:3}

L = [13,42,15,37,22,39,41,50]

import math
def f():
    max_bin = math.floor(max(L)/10)*10
    min_bin = math.floor(min(L)/10)*10

    d ={}

    for i in range(min_bin,max_bin+1,10):
        count = 0
        for j in L:
            if i < j <= i + 10:
                count+=1
        d[str(i+1) + '-' + str(i+10)] = count
    return d

f()

{'11-20': 2, '21-30': 1, '31-40': 2, '41-50': 3, '51-60': 0}

In [ ]:
# `Problem-10`:Write a python program that receives a list of strings and performs bag of word operation on those strings
# https://en.wikipedia.org/wiki/Bag-of-words_model(for ref.)

def bag_of_words(texts):
    d = {}
    for i in texts:
        print(i)
        for j in i.split():
            d[j] = d.get(j, 0) + 1
    return d

# Example usage:
texts = ["cat bat mat", "bat rat", "cat rat mat"]
result = bag_of_words(texts)
print(result)

cat bat mat
bat rat
cat rat mat
{'cat': 2, 'bat': 2, 'mat': 2, 'rat': 2}

In [ ]:
# `Problem 11:` Write a Python program to add three given lists using Python map and lambda.
L = [1,2,3]
M = [4,5,6]
N = [7,8,9]

f = list(map(lambda i : i,(L+M+N)))
print(f)

g = list(map(lambda x,y,z : x+y+z,L,M,N))
print(g)

[1, 2, 3, 4, 5, 6, 7, 8, 9]
[12, 15, 18]

In [ ]:
###`Problem-12:`Write a Python program to create a list containing the power of said number in bases raised to the corresponding number in the index using Python map.
# [1,2,9,64,625,-]

list1 = [1,2,3,4,5,6]
f = list(map(lambda i : i**(i-1),list1))
print(f)

[1, 2, 9, 64, 625, 7776]

In [ ]:
###`Problem-13` Using filter() and list() functions and .lower() method filter all the vowels in a given string.

st = 'Hello How Are You'
s = set('aeiouAEIOU')
d = ''
for i in st:
  if i in s:
    d+=i
print(''.join(set(d)))
print(list(d))

q = list(filter(lambda i: i if i in s else 0,st.lower()))
print(q)

eAou
['e', 'o', 'o', 'A', 'e', 'o', 'u']
['e', 'o', 'o', 'a', 'e', 'o', 'u']

In [ ]:
# `Problem-14`: Use reduce to convert a 2D list to 1D
arr = [[1,2,3],[2,3,4],[5,6,7]]

d=[]
def conv():
  for i in arr:
    for j in i:
      d.append(j)
  return d
print(conv())


import functools
f = list(functools.reduce(lambda i,j: i+j,arr))
print(f)

[1, 2, 3, 2, 3, 4, 5, 6, 7]
[1, 2, 3, 2, 3, 4, 5, 6, 7]

In [ ]:
#`Problem 15`- A dictionary contains following information about 5 employees:
# First name, Last name, Age, Grade(Skilled,Semi-skilled,Highly skilled)

# Write a program using map/filter/reduce to a list of employees(first name + last name) who are highly skilled

employees = [
    {
        'fname':'Nitish',
        'lname':'Singh',
        'age' : 33,
        'grade':'skilled'
    },
    {
        'fname':'Ankit',
        'lname':'Verma',
        'age' : 34,
        'grade':'semi-skilled'
    },
    {
        'fname':'Neha',
        'lname':'Singh',
        'age' : 35,
        'grade':'highly-skilled'
    },
    {
        'fname':'Anurag',
        'lname':'Kumar',
        'age' : 30,
        'grade':'skilled'
    },
    {
        'fname':'Abhinav',
        'lname':'Sharma',
        'age' : 37,
        'grade':'highly-skilled'
    }

]

a = list(filter(lambda i : i if i['grade']=='highly-skilled' else 0,employees))
list(map(lambda i : i['fname']+' '+i['lname'],a))

['Neha Singh', 'Abhinav Sharma']

**Class & Objcets Practice**

Problem based on OOP Python.<br>

TechWorld, a technology training center, wants to allocate courses for instructors. An instructor is identified by name, technology skills, experience and average feedback. An instructor is allocated a course, if he/she satisfies the below two conditions:<br>
- eligibility criteria:<br>
    - if experience is more than 3 years, average feedback should be 4.5 or more<br>
    - if experience is 3 years or less, average feedback should be 4 or more<br>
- he/she should posses the technology skill for the course<br>

Identify the class name and attributes to represent instructors. Write a Python program to implement the class chosen with its attributes and methods.<br>

**Note:**<br>
- Consider all instance variables to be private and methods to be public.<br>
- An instructor may have multiple technology skills, so consider instance variable, technology_skill to be a list.<br>
- *check_eligibility()*: Return true if eligibility criteria is satisfied by the instructor. Else, return false<br>
- *allocate_course(technology)*: Return true if the course which requires the given technology can be allocated to the instructor. Else, return false.<br>

Represent a few objects of the class, initialize instance variables using setter methods, invoke
appropriate methods and test your program.

In [10]:
class Instructor:
  def __init__(self,name,technology,experience,feedback):
    self._name = name
    self._technology = technology
    self._experience = experience
    self._feedback = feedback

  def check_eligibility(self):
    if self._experience > 3 and self._feedback >= 4.5:
      return True
    elif self._experience <= 3 and self._feedback > 4:
      return True
    else:
      return False

  def allocate_course(self,technology):
    is_eligible = self.check_eligibility()

    if is_eligible:
      if technology in self._technology:
        return 'Padha sakta hai'
      else:
        return 'Yeh toh usko aata hi nai'
    else:
      return 'Acha nahi padata hai'

inst = Instructor('Fz',['DS','BA','ML'],3,4.1)
inst.allocate_course('BA')

'Padha sakta hai'