<a href="https://colab.research.google.com/github/FazilMSD7/Data-Analytics/blob/main/Py_fundamentals/Python_Advanced2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### DB Connection with Secure Password

In [2]:
import pymysql
# it throws error bcz mysql setup in colab not yet done..

# Step 1 : Connect to the db
# Update the connection details with your MySQL server information
connection = pymysql.connect(
    host = 'localhost', # e.g., 'localhost' or an IP address
    user = 'root',
    password = '123',
    database = 'testpy',
    cursorclass = pymysql.cursors.DictCursor
)


try:
  with connection.cursor() as cursor:
    # Step 2 : Create a table
    create_query = """
    CREATE TABLE IF NOT EXISTS employees(
      id INT AUTO_INCREMENT PRIMARY KEY,
      name VARCHAR(100),
      department VARCHAR(50)
    );
    """
    cursor.execute(create_query)

    # Step 3 : Insert Data
    insert_query = "INSERT INTO employees (name, department) VALUES (%s, %s)"
    values = [('John','HR'),('Alice','CS'),('Rasee','Accounts')]
    cursor.executemany(insert_query,values)
    connection.commit()

    # Step 4 : Select Data
    select_query = "SELECT * from employees"
    cursor.execute(select_query)
    result = cursor.fetchall()

    for i in result:
      print(i)
finally:
  connection.close()

ModuleNotFoundError: No module named 'pymysql'

In [23]:
import os
if os.path.exists('test.db'):
  os.remove('test.db')
  print('Old test.db removed')

Old test.db removed

In [24]:
import sqlite3
conn = sqlite3.connect('test.db')
cur = conn.cursor()

In [25]:
conn.execute('''
CREATE TABLE IF NOT EXISTS employees(
id INTEGER PRIMARY KEY AUTOINCREMENT,
name VARCHAR(100),
department VARCHAR(50)
); '''
)

conn.commit()
print("Employee table created")

Employee table created

In [26]:
insert_query = "INSERT INTO employees (name, department) VALUES (?, ?);"
values = [('John','HR'),('Alice','CS'),('Rasee','Accounts')]
conn.executemany(insert_query, values)
conn.commit()

In [27]:
conn = sqlite3.connect('test.db')
cursor = conn.execute(''' SELECT * FROM employees''')
for i in cursor:
  print(i)

conn.close()

(1, 'John', 'HR')
(2, 'Alice', 'CS')
(3, 'Rasee', 'Accounts')