<a href="https://colab.research.google.com/github/FazilMSD7/Data-Analytics/blob/main/Py_fundamentals/Python_Fundamentals.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Print**

In [ ]:
print('fz',1.2,True)

fz 1.2 True

In [ ]:
print('fz',1.2,True,sep='/')

fz/1.2/True

In [ ]:
print('fz',end='-')
print('abd')

fz-abd

In [ ]:
a = 1,2,3
print(a)

a,b,c = 1,2,3
print(a,b,c)

a =b =c =5
print(a)

(1, 2, 3)
1 2 3
5

Data **Types**

In [ ]:
print('vf') #str
print(3) #int
print(3.4) #float
print(True) #boolean
print([1,2,3]) #list
print((1,2)) #tuple
print({1,2,3}) #set
print({'a':3}) #dict
print(7+2j) #complex

vf
3
3.4
True
[1, 2, 3]
(1, 2)
{1, 2, 3}
{'a': 3}
(7+2j)

**Variables** : Containers store info

In [ ]:
name = 'fz'
print(name)
# Static Typing(define datatype :other lang --> int a = 5)
# Dynamic Typing(no need to define dtype : python --> a =5)

#Static Binding(other lang. only specified dtype can be supported, eg: int a = 5) only sprts int values
# eg : int a = 5, str a = 'st'

#Dynamic Binding(python sprts, eg: a =5, a ='st')
a = 5
a = 'st'
print(a)

fz
st

**Keywords & Identifiers**

In [ ]:
# Keywords : Reserved words(if,true,def...)
# Identifiers : Giving name to prg(eg: variables,class, fn)
# Can't start with digit, Van't be keywords, Can use sp. char _ (eg: _ = 5)

# Static - Can't interact, can only read eg: calendar
# Dynamic - Can interact, Can read/write eg: youtube

**User Input**

In [ ]:
input('What is ur name :')

What is ur name :Fazil

'Fazil'

In [ ]:
a = input('1st number')
b = input('2nd number')
c = a+b
print(c)
type(c)

1st number4
2nd number4
44

str

In [ ]:
a = int(input('1st number'))  # explicit conv. - chng dtyoe acc user, Implicit conv. - automatically conv.
b = int(input('2nd number'))  # can't convert complex into other dtype : int(1+6j)
c = a+b
print(c)
type(c)

1st number2
2nd number3
5

int

**Literals** : Value stored (eg. a = 5)  5 is literal

In [ ]:
from re import X
a = 0b1010  # binary li
b = 100 # decimal li
c = 0o310 # octal li
d = 0x12c # hexa li
print(a,b,c,d)

# floatal li
float_1 = 10.5
float_2 = 1.5e2 # 1.5*10^2
print(float_1,float_2)

# complex li
X = 3.14j
print(X,X.imag,X.real)

# String : '', "", """ """ (multi lines), unicode(u"u7634..24e) - smily, str1 = r"row \n string" op. raw \n string

10 100 200 300
10.5 150.0
3.14j 3.14 0.0

**Operators :**

. Arithmetic Operators -> + - * / // % **
. Relational Operators(True or False) -> > < >= <= == !=
. Logical Operators -> and or not
. Bitwise Operators(not used mostly) -> & | && || ^ ~ << >>
. Assignment Operator -> = == +=
. Membership Operator -> in/not in

In [3]:
print(5//2)
print(5%2)
print(5**2)

2
1
25

In [4]:
print(4!=4)

False

In [5]:
print(1 and 0)
print(1 or 0)
print(not 1)

0
1
False

In [6]:
print(2&3)

2

In [7]:
a = 2
a += 3
print(a)

5

In [8]:
print('d' in 'dubai')

True

In [24]:
num = int(input('number: '))
a = num%10
print(a)  #345%10 - 5
num = num//10
print(num) #34//10 - 34
b = num%10
print(b)  #
num = num // 10
print(num)
c = num%10
print(a+b+c)  # 12

number: 345
5
34
4
3
12

**If-else :**

In [25]:
# Find min of 3 give numbers:
a = int(input('1st number: '))
b = int(input('2nd number: '))
c = int(input('3rd number: '))
if a>b and a>c:
  print(a)
elif b>a and b>c:
  print(b)
else:
  print(c)

1st number: 45
2nd number: 88
3rd number: 12
88

In [26]:
#calculator :
a = int(input('1st number: '))
b = int(input('2nd number: '))
op = input('operator: ')
if op == '+':
  print(a+b)
elif op == '-':
  print(a-b)
elif op == '*':
  print(a*b)
elif op == '/':
  print(a/b)

1st number: 20
2nd number: 98
operator: -
-78

In [27]:
a = int(input('1st number: '))
if a%10 ==0:
  print("even")
else:
  print("odd")

1st number: 0
even

**Modules in Python**