<a href="https://colab.research.google.com/github/FazilMSD7/Data-Analytics/blob/main/Py_fundamentals/Python_Fundamentals.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Print**

In [ ]:
print('fz',1.2,True)

fz 1.2 True

In [ ]:
print('fz',1.2,True,sep='/')

fz/1.2/True

In [ ]:
print('fz',end='-')
print('abd')

fz-abd

In [ ]:
a = 1,2,3
print(a)

a,b,c = 1,2,3
print(a,b,c)

a =b =c =5
print(a)

(1, 2, 3)
1 2 3
5

Data **Types**

In [ ]:
print('vf') #str
print(3) #int
print(3.4) #float
print(True) #boolean
print([1,2,3]) #list
print((1,2)) #tuple
print({1,2,3}) #set
print({'a':3}) #dict
print(7+2j) #complex

vf
3
3.4
True
[1, 2, 3]
(1, 2)
{1, 2, 3}
{'a': 3}
(7+2j)

**Variables** : Containers store info

In [ ]:
name = 'fz'
print(name)
# Static Typing(define datatype :other lang --> int a = 5)
# Dynamic Typing(no need to define dtype : python --> a =5)

#Static Binding(other lang. only specified dtype can be supported, eg: int a = 5) only sprts int values
# eg : int a = 5, str a = 'st'

#Dynamic Binding(python sprts, eg: a =5, a ='st')
a = 5
a = 'st'
print(a)

fz
st

**Keywords & Identifiers**

In [ ]:
# Keywords : Reserved words(if,true,def...)
# Identifiers : Giving name to prg(eg: variables,class, fn)
# Can't start with digit, Van't be keywords, Can use sp. char _ (eg: _ = 5)

# Static - Can't interact, can only read eg: calendar
# Dynamic - Can interact, Can read/write eg: youtube

**User Input**

In [ ]:
input('What is ur name :')

What is ur name :Fazil

'Fazil'

In [ ]:
a = input('1st number')
b = input('2nd number')
c = a+b
print(c)
type(c)

1st number4
2nd number4
44

str

In [ ]:
a = int(input('1st number'))  # explicit conv. - chng dtyoe acc user, Implicit conv. - automatically conv.
b = int(input('2nd number'))  # can't convert complex into other dtype : int(1+6j)
c = a+b
print(c)
type(c)

1st number2
2nd number3
5

int

**Literals** : Value stored (eg. a = 5)  5 is literal

In [ ]:
from re import X
a = 0b1010  # binary li
b = 100 # decimal li
c = 0o310 # octal li
d = 0x12c # hexa li
print(a,b,c,d)

# floatal li
float_1 = 10.5
float_2 = 1.5e2 # 1.5*10^2
print(float_1,float_2)

# complex li
X = 3.14j
print(X,X.imag,X.real)

# String : '', "", """ """ (multi lines), unicode(u"u7634..24e) - smily, str1 = r"row \n string" op. raw \n string

10 100 200 300
10.5 150.0
3.14j 3.14 0.0

**Operators :**

. Arithmetic Operators -> + - * / // % **
. Relational Operators(True or False) -> > < >= <= == !=
. Logical Operators -> and or not
. Bitwise Operators(not used mostly) -> & | && || ^ ~ << >>
. Assignment Operator -> = == +=
. Membership Operator -> in/not in

In [ ]:
print(5//2)
print(5%2)
print(5**2)

2
1
25

In [ ]:
print(4!=4)

False

In [ ]:
print(1 and 0)
print(1 or 0)
print(not 1)

0
1
False

In [ ]:
print(2&3)

2

In [ ]:
a = 2
a += 3
print(a)

5

In [ ]:
print('d' in 'dubai')

True

In [ ]:
num = int(input('number: '))
a = num%10
print(a)  #345%10 - 5
num = num//10
print(num) #345//10 - 34
b = num%10
print(b)  #34%10 - 4
c = num // 10
print(c)  #34//10 - 3
print(a+b+c)  # 12

number: 789
9
78
8
7
24

**If-else :**

In [ ]:
# Find min of 3 give numbers:
a = int(input('1st number: '))
b = int(input('2nd number: '))
c = int(input('3rd number: '))
if a>b and a>c:
  print(a)
elif b>a and b>c:
  print(b)
else:
  print(c)

1st number: 45
2nd number: 88
3rd number: 12
88

In [ ]:
#calculator :
a = int(input('1st number: '))
b = int(input('2nd number: '))
op = input('operator: ')
if op == '+':
  print(a+b)
elif op == '-':
  print(a-b)
elif op == '*':
  print(a*b)
elif op == '/':
  print(a/b)

1st number: 20
2nd number: 98
operator: -
-78

In [ ]:
a = int(input('1st number: '))
if a%10 ==0:
  print("even")
else:
  print("odd")

1st number: 0
even

**Modules in Python**

 It can include functions, classes, and variables that you can use in other programs. Reusable code - just import and use.

Math, Random, Keywords, DateTime

In [ ]:
import math
print(math.sqrt(4))
print(math.factorial(5))

2.0
120

In [ ]:
import keyword
print(keyword.kwlist)
print(keyword.iskeyword('False'))

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']
True

In [ ]:
import random
print(random.randint(1,10))

6

In [ ]:
import datetime
print(datetime.datetime.now())

2024-12-09 07:23:27.675995

In [ ]:
help('modules') #all modules

**LOOPS :**

Eg: used for iteration - Swiggy : 50 dishes(same container - used for all dishes)

**python tutor** - line by line code explain

In [27]:
# while loop : if we don't know no. of loops, condition
i = 1
while i<6:
  print(i)
  i+=1

number = int(input('number: '))
i = 1
while i<11:
  print(number,'*',i,'=',number * i)
  i += 1

1
2
3
4
5
number: 7
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
7 * 10 = 70

In [31]:
# while loop with else :
i = 1
while i<5:
  print(i)
  i += 1
else:
  print('done')


a,b = 0,10
while a<5 and b>5:
  print(f'a:{a} and b:{b}')
  a+=1
  b-=1

1
2
3
4
done
a:0 and b:10
a:1 and b:9
a:2 and b:8
a:3 and b:7
a:4 and b:6

In [ ]:
from typing import Counter
# guessing random number between 1- 100
import random
jackpot = random.randint(1,100)
print(jackpot)
guess = int(input("Enter a number"))

Counter = 1
while guess != jackpot:
  if guess>jackpot:
    print("guessed number is higher")
  elif guess<jackpot:
    print("guessed number is lower")
  guess = int(input("Enter a number"))
  Counter+=1

else:
  print("guesses number is correct")
print("No. of attempts : ", Counter)

39
Enter a number6
guessed number is lower
Enter a number9
guessed number is lower
Enter a number99
guessed number is higher
Enter a number39
guesses number is correct
No. of attempts :  4

In [ ]:
# for loop :  if we know no. of loops
for i in range(1,4):
  print(i)

for i in range(0,6,2):
  print(i)

for i in range(3,1,-1):
  print(i)

for i in 'Ooty':
  print(i)

for i in {20,63,7}: #loop in any dtype
  print(i)

1
2
3
4
5
0
2
4
5
4
3
2
O
o
t
y
20
63
7

Program - The current population of a town is 1000. The population of the town is increasing at the rate of 10% per year. You have to write a program to find out the population at the end of each of the last 10 years.

In [ ]:
cur_pop = 1000
sum = 0
for i in range(1,10):
  print(i,cur_pop)
  cur_pop = cur_pop + cur_pop*0.1
  # cur_pop += cur_pop*0.1
  sum += cur_pop

print(sum)

1 1000
2 1100.0
3 1210.0
4 1331.0
5 1464.1
6 1610.51
7 1771.561
8 1948.7170999999998
9 2143.5888099999997
14937.424600999999

In [9]:
# Fibanocci
a,b = 0,1
for i in range(10):
  print(a)
  nxt = a+b
  a = b
  b = nxt
print('----------')

num1,num2 = 0,1
i=0
while i<=5:
    print(num1)
    nxt = num1+num2
    num1 = num2
    num2 =nxt
    i+=1
print('----------')

# Factorial
a = 1
for i in range(1,6):
    a = a*i
print(a)
print('----------')

a = 1
i=1
while i<=5:
  a=a*i
  i+=1
print(a)

0
1
1
2
3
5
8
13
21
34
----------
120
----------
120

In [11]:
# reverse number :
rev = 0
num = 325
for i in range (len(str(num))):
  last = num%10 #5
  rev = rev*10 + last #0*10 + 5
  num = num//10 #32
print(rev)

rev = 0
num = 365
while num>0:
  last = num%10
  rev = rev*10 + last
  num = num//10
print(rev)


# reverse string :
st = 'fazil'
rev = ''
for i in st:
  rev = i+ rev
print(rev)

st = 'marco'
rev = ''
i = len(st)-1
while i>=0:
  rev = rev + st[i]
  i = i-1
print(rev)

523
563
lizaf
ocram

In [26]:
# nested loops :

matrix = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]

for i in matrix:
  for j in i:
    print(j)


for i in range(4,5):
  for j in range(1,5):
    print(f"{i}*{j}={j*i}")

colors = ['red','green','blue']
size = ['s','m','l']
for i in colors:
  for j in size:
    print(f'{i}:{j}')

st = 'fazil','gg'
for i in st:
  print(i)
  for j in i:
    print(j)

1
2
3
4
5
6
7
8
9
4*1=4
4*2=8
4*3=12
4*4=16
red:s
red:m
red:l
green:s
green:m
green:l
blue:s
blue:m
blue:l

In [78]:
# break(cond. = true in loop - end)
for i in range(1,10):
  print(i)
  if i==6:
    break

balls_faced = 0
runs_scored = 0
while balls_faced <=6:
  balls_faced += 1
  run = int(input(f"runs scored : {balls_faced} "))
  if run>=7:
    print('out')
    break
  runs_scored+=run
print(f'runs scored : {runs_scored} in {balls_faced} balls')

1
2
3
4
5
6
runs scored : 1 6
runs scored : 2 4
runs scored : 3 8
out
runs scored : 10 in 3 balls

In [86]:
# continue(cond. true in loop - skip)
i = 0
while i<10:
  i+=1
  if i ==7:
    continue
  print(i)

runs_scored = 0
balls_faced = 0
while balls_faced<6:

  run = int(input(f"runs {balls_faced+1} "))
  if run == 7:
    runs_scored+=1
    continue
  elif run>7:
    print('out')
    break
  runs_scored += run
  balls_faced+=1
print(f'runs scored : {runs_scored}, balls faced {balls_faced+1}')

1
2
3
4
5
6
8
9
10
runs 1 4
runs 2 4
runs 3 4
runs 4 7
runs 4 2
runs 5 7
runs 5 8
out
runs scored : 16, balls faced 5

In [98]:
# pass(if code is incomplete in any block, use pass. later on u can do it)
x=8
if x>5:
  pass
else:
  print(x)

for i in range(6):
  pass

def my_func(x):
  pass
my_func(6)

In [10]:
# Enumerate : gives index of value in string, list...
li = [23,43,6,31]
for index, i in enumerate(li):
  print(index,i)


li = (73, 3, 4, 43, 2)
for index, i in enumerate(li):
  if i%2==0:
    print('happy')
  else:
    print(i)

0 23
1 43
2 6
3 31
73
3
happy
43
happy