<a href="https://colab.research.google.com/github/FazilMSD7/Data-Analytics/blob/main/Py_fundamentals/Python_Fundamentals.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Print**

In [ ]:
print('fz',1.2,True)

fz 1.2 True

In [ ]:
print('fz',1.2,True,sep='/')

fz/1.2/True

In [ ]:
print('fz',end='-')
print('abd')

fz-abd

In [ ]:
a = 1,2,3
print(a)

a,b,c = 1,2,3
print(a,b,c)

a =b =c =5
print(a)

(1, 2, 3)
1 2 3
5

Data **Types**

In [ ]:
print('vf') #str
print(3) #int
print(3.4) #float
print(True) #boolean
print([1,2,3]) #list
print((1,2)) #tuple
print({1,2,3}) #set
print({'a':3}) #dict
print(7+2j) #complex

vf
3
3.4
True
[1, 2, 3]
(1, 2)
{1, 2, 3}
{'a': 3}
(7+2j)

**Variables** : Containers store info

In [ ]:
name = 'fz'
print(name)
# Static Typing(define datatype :other lang --> int a = 5)
# Dynamic Typing(no need to define dtype : python --> a =5)

#Static Binding(other lang. only specified dtype can be supported, eg: int a = 5) only sprts int values
# eg : int a = 5, str a = 'st'

#Dynamic Binding(python sprts, eg: a =5, a ='st')
a = 5
a = 'st'
print(a)

fz
st

**Keywords & Identifiers**

In [ ]:
# Keywords : Reserved words(if,true,def...)
# Identifiers : Giving name to prg(eg: variables,class, fn)
# Can't start with digit, Can't be keywords, Can use sp. char _ (eg: _ = 5)

# Static - Can't interact, can only read eg: calendar
# Dynamic - Can interact, Can read/write eg: youtube

**User Input**

In [ ]:
input('What is ur name :')

What is ur name :Fazil

'Fazil'

In [ ]:
a = input('1st number')
b = input('2nd number')
c = a+b
print(c)
type(c)

1st number4
2nd number4
44

str

In [ ]:
a = int(input('1st number'))  # explicit conv. - chng dtyoe acc user, Implicit conv. - automatically conv.
b = int(input('2nd number'))  # can't convert complex into other dtype : int(1+6j)
c = a+b
print(c)
type(c)

1st number2
2nd number3
5

int

**Literals** : Value stored (eg. a = 5)  5 is literal

In [ ]:
from re import X
a = 0b1010  # binary li
b = 100 # decimal li
c = 0o310 # octal li
d = 0x12c # hexa li
print(a,b,c,d)

# floatal li
float_1 = 10.5
float_2 = 1.5e2 # 1.5*10^2
print(float_1,float_2)

# complex li
X = 3.14j
print(X,X.imag,X.real)

# String : '', "", """ """ (multi lines), unicode(u"u7634..24e) - smily, str1 = r"row \n string" --> op. raw \n string

10 100 200 300
10.5 150.0
3.14j 3.14 0.0

**Operators :**

. Arithmetic Operators -> + - * / // % **
. Relational Operators(True or False) -> > < >= <= == !=
. Logical Operators -> and or not
. Bitwise Operators(not used mostly) -> & | && || ^ ~ << >>
. Assignment Operator -> = == +=
. Membership Operator -> in/not in

In [ ]:
print(5//2)
print(5%2)
print(5**2)

2
1
25

In [ ]:
print(4!=4)

False

In [ ]:
print(1 and 0)
print(1 or 0)
print(not 1)

0
1
False

In [ ]:
print(2&3)

2

In [ ]:
a = 2
a += 3
print(a)

5

In [ ]:
print('d' in 'dubai')

True

In [ ]:
num = int(input('number: '))
a = num%10
print(a)  #345%10 - 5
num = num//10
print(num) #345//10 - 34
b = num%10
print(b)  #34%10 - 4
c = num // 10
print(c)  #34//10 - 3
print(a+b+c)  # 12

number: 789
9
78
8
7
24

**If-else :**

In [ ]:
# Find min of 3 give numbers:
a = int(input('1st number: '))
b = int(input('2nd number: '))
c = int(input('3rd number: '))
if a>b and a>c:
  print(a)
elif b>a and b>c:
  print(b)
else:
  print(c)

1st number: 45
2nd number: 88
3rd number: 12
88

In [ ]:
#calculator :
a = int(input('1st number: '))
b = int(input('2nd number: '))
op = input('operator: ')
if op == '+':
  print(a+b)
elif op == '-':
  print(a-b)
elif op == '*':
  print(a*b)
elif op == '/':
  print(a/b)

1st number: 20
2nd number: 98
operator: -
-78

In [ ]:
a = int(input('1st number: '))
if a%10 ==0:
  print("even")
else:
  print("odd")

1st number: 97
odd

**Modules in Python**

 It can include functions, classes, and variables that you can use in other programs. Reusable code - just import and use.

Math, Random, Keywords, DateTime

In [ ]:
import math
print(math.sqrt(4))
print(math.factorial(5))

2.0
120

In [ ]:
import keyword
print(keyword.kwlist)
print(keyword.iskeyword('False'))

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']
True

In [ ]:
import random
print(random.randint(1,10))

6

In [ ]:
import datetime
print(datetime.datetime.now())

2024-12-09 07:23:27.675995

In [ ]:
help('modules') #all modules

**LOOPS :**

Eg: used for iteration - Swiggy : 50 dishes(same container - used for all dishes)

**python tutor** - line by line code explain

**while loop** : if we don't know no. of loops, condition

In [ ]:
i = 1
while i<6:
  print(i)
  i+=1

number = int(input('number: '))
i = 1
while i<11:
  print(number,'*',i,'=',number * i)
  i += 1

1
2
3
4
5
number: 7
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
7 * 10 = 70

**while loop with else :**

In [ ]:
i = 1
while i<5:
  print(i)
  i += 1
else:
  print('done')


a,b = 0,10
while a<5 and b>5:
  print(f'a:{a} and b:{b}')
  a+=1
  b-=1

1
2
3
4
done
a:0 and b:10
a:1 and b:9
a:2 and b:8
a:3 and b:7
a:4 and b:6

In [ ]:
from typing import Counter
# guessing random number between 1- 100
import random
jackpot = random.randint(1,100)
print(jackpot)
guess = int(input("Enter a number"))

Counter = 1
while guess != jackpot:
  if guess>jackpot:
    print("guessed number is higher")
  elif guess<jackpot:
    print("guessed number is lower")
  guess = int(input("Enter a number"))
  Counter+=1

else:
  print("guesses number is correct")
print("No. of attempts : ", Counter)

39
Enter a number6
guessed number is lower
Enter a number9
guessed number is lower
Enter a number99
guessed number is higher
Enter a number39
guesses number is correct
No. of attempts :  4

**for loop :**  if we know no. of loops

In [ ]:
for i in range(1,4):
  print(i)

for i in range(0,6,2):
  print(i)

for i in range(3,1,-1):
  print(i)

for i in 'Ooty':
  print(i)

for i in {20,6.3,'a'}: #loop in any dtype
  print(i)

1
2
3
0
2
4
3
2
O
o
t
y
a
20
6.3

Program - The current population of a town is 1000. The population of the town is increasing at the rate of 10% per year. <br>You have to write a program to find out the population at the end of each of the last 10 years.

In [ ]:
cur_pop = 1000
sum = 0
for i in range(10,0,-1):
  print(i,cur_pop)
  cur_pop = cur_pop / 1.1
  # cur_pop += cur_pop*1.1
  sum += cur_pop

print(sum)

# note(how 1.1):
'''9th yr pop. - x
  10th yr pop. - x+0.1x = 1000
  1.1x = 1000
  x = 1000/1.1'''

10 1000
9 909.090909090909
8 826.4462809917354
7 751.3148009015775
6 683.0134553650704
5 620.9213230591548
4 564.473930053777
3 513.1581182307064
2 466.507380209733
1 424.09761837248453
6144.56710570468

In [ ]:
# prime - n
n = int(input('no.'))
if n<2:
  print('not prime')
else:
  for i in range(2,n):
    if n%i == 0:
      print('not prime')
      break
  else:
    print('prime')

# prime btw 10-40
for i in range(10,41):
  for j in range(2,i):
    if i%j==0:
      break
  else:
    print(i)

no.7
prime
11
13
17
19
23
29
31
37

In [ ]:
# Fibanocci
a,b = 0,1
for i in range(10):
  print(a)
  nxt = a+b
  a = b
  b = nxt
print('----------')

num1,num2 = 0,1
i=0
while i<=5:
    print(num1)
    nxt = num1+num2
    num1 = num2
    num2 =nxt
    i+=1
print('----------')

# Factorial
a = 1
for i in range(1,6):
    a = a*i
print(a)
print('----------')

a = 1
i=1
while i<=5:
  a=a*i
  i+=1
print(a)

0
1
1
2
3
5
8
13
21
34
----------
0
1
1
2
3
5
----------
120
----------
120

In [ ]:
# reverse number :
rev = 0
num = 325
for i in range (len(str(num))):
  last = num%10 #5
  rev = rev*10 + last #0*10 + 5
  num = num//10 #32
print(rev)

rev = 0
num = 365
while num>0:
  last = num%10
  rev = rev*10 + last
  num = num//10
print(rev)


# reverse string :
st = 'fazil'
rev = ''
for i in st:
  rev = i+ rev
print(rev)

st = 'marco'
rev = ''
i = len(st)-1
while i>=0:
  rev = rev + st[i]
  i = i-1
print(rev)

523
563
lizaf
ocram

**nested loops :**

In [ ]:

matrix = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]

for i in matrix:
  for j in i:
    print(j)


for i in range(4,5):
  for j in range(1,5):
    print(f"{i}*{j}={j*i}")

colors = ['red','green','blue']
size = ['s','m','l']
for i in colors:
  for j in size:
    print(f'{i}:{j}')

st = 'fazil','gg'
for i in st:
  print(i)
  for j in i:
    print(j)

1
2
3
4
5
6
7
8
9
4*1=4
4*2=8
4*3=12
4*4=16
red:s
red:m
red:l
green:s
green:m
green:l
blue:s
blue:m
blue:l

**break(cond. = true in loop - end)**

In [ ]:
for i in range(1,10):
  print(i)
  if i==3:
    break


balls_faced = 0
runs_scored = 0
while balls_faced <=6:
  balls_faced += 1
  run = int(input(f"runs scored : {balls_faced} "))
  if run>=7:
    print('out')
    break
  runs_scored+=run
print(f'runs scored : {runs_scored} in {balls_faced} balls')

1
2
3
runs scored : 1 6
runs scored : 2 6
runs scored : 3 7
out
runs scored : 12 in 3 balls

**continue(cond. true in loop - skip)**

In [ ]:
i = 0
while i<10:
  i+=1
  if i ==7:
    continue
  print(i)

runs_scored = 0
balls_faced = 0
while balls_faced<6:
  run = int(input(f"runs {balls_faced+1} "))
  if run == 7:
    runs_scored+=1
    continue
  elif run>8:
    print('out')
    break
  runs_scored += run
  balls_faced+=1
print(f'runs scored : {runs_scored}, balls faced {balls_faced}')

1
2
3
4
5
6
8
9
10
runs 1 6
runs 2 5
runs 3 7
runs 3 9
out
runs scored : 12, balls faced 2

**pass(if code is incomplete in any block, use pass. later on u can do it)**

In [ ]:
x=8
if x>5:
  pass
else:
  print(x)

for i in range(6):
  pass

def my_func(x):
  pass
my_func(6)

In [ ]:
# patterns
'''
*
**
***
'''

for i in range(1,4):
  for j in range(1,i+1):
    print('*',end='')
  print()

*
**
***

**Enumerate**: gives index of value in string, list...

In [ ]:
li = [23,43,6,31]
for index, i in enumerate(li):
  print(index,i)


li = (73, 3, 4, 43, 2)
for index, i in enumerate(li):
  if i%2==0:
    print('happy')
  else:
    print(i)

0 23
1 43
2 6
3 31
73
3
happy
43
happy

**STRINGS** : sequence of characters,
In python strings are unicode characters. Python Strings are immutable(notchange). String is a datatype<br><br>
Creating Strings : ' '," ",'''<br>
Accessing Strings : slicing[0:6:2], [::-1]<br>
Adding Chars to String<br>
Editing Strings : Strings are immutable<br>
Deleting Strings : del (string name)<br>
Operations on strings : Arithmetic,Relational,Logical,Loops,Membership<br><br>
Common Functions : len, min, max, sorted(reverse=)<br>
String Function

In [ ]:
# creating string :
s = 'fz'
s = "fazil"
s = '''faz'''
print(s)

# accessing strings :
a = "hello world"
print(a[4]) #hell
print(a[-1])  #d

#slicing :
print(a[1:])  #ello world
print(a[:3])  #hel
print(a[0:5]) #hello
print(a[0:7:2]) #hlow
print(a[6:0:-1]) # if step size is negative, first num should be higher   #w olle
print(a[::-1])  #reverse string #dlrow olleh
print(a[-5:-1]) #worl
print(a[-1:-6:-1])  #dlrow

# editing string : not possible(immutable)
q = 'america'
q[0] = 'A'
print(q)

faz
o
d
ello world
hel
hello
hlow
w olle
dlrow olleh
worl
dlrow

TypeError: 'str' object does not support item assignment

In [ ]:
r = 'randex'
del r
print(r)  #it will be deleted

NameError: name 'r' is not defined

**Operations on Strings :**

In [ ]:
print('hello' + 'world') #helloworld
print('hello'+' '+'world') #hello world
print('hello'*2) #hellohello
#---------------------------

print('pune'=='mumbai') #false
print('pune'=='pune') #true
#-----------------------------

print('pune' and 'mumbai') #mumbai  or-->prints if true - 1st value, and--> prints 2nd value if both are true
print('pune' or 'mumbai')  #pune
print('' or 'delhi') #delhi
print('' or '') #null --> bcz both are false
'' # '' is false
print(not '')  #true
print('pune'>'Pune') #true  acc. to ascii small letter ascii value is greater than Cap

#------------------------

for i in 'delhi':
  print(i)

for i in 'delhi':
  print('hey')
#--------------------------

print('D' in 'Delhi') #true
print('d' in 'Delhi') #false

helloworld
hello world
hellohello
False
True
mumbai
pune
delhi

True
True
d
e
l
h
i
hey
hey
hey
hey
hey
True
False

**common function** : len, max, min, sorted

In [ ]:
print(len('fazil')) #5
print(min('fazil')) #a
print(max('fazil')) #z
print(min('hello world')) # ' ' has min value
print(sorted('fazil'))  #[a,f,i,l,z]  acc. ascii
print(sorted('fazil',reverse=True)) #

5
a
z

['a', 'f', 'i', 'l', 'z']
['z', 'l', 'i', 'f', 'a']

Capitalize/Title/Upper/Lower/Swapcase

In [ ]:
s = 'hello world'
a = 'Hello My Name Is'
print(s.capitalize()) #Hello world

print(s.title())  #Hello World

print(s.upper())  #HELLO WORLD

print(s.lower())  #hello world

print(a.swapcase())

print(s)  #s remains same bcz these functions doesn't store in memory/value

Hello world
Hello World
HELLO WORLD
hello world
hELLO mY nAME iS
hello world

Count/Find/Index

In [ ]:
# Count :
s = 'hello world'
print(s.count('l'))

#find
print(s.find('o'))
print(s.find('x'))  #returns -1

#index
print(s.index('world'))
print(s.index('x')) #return error

3
4
-1
6

ValueError: substring not found

endswith/startswith

In [ ]:
s = 'my name is fz'
print(s.startswith('my'))
print(s.endswith('is'))

True
False

format

In [ ]:
name = 'fazil'
age = 23
print('my name is {} and my age is {}'.format(name,age))

print('my name is {0} and my age is {1}'.format(name,age))

my name is fazil and my age is 23
my name is fazil and my age is 23

isalnum/isalpha/isdigit/isidentifier

In [ ]:
s = 'faz20'
print(s.isalnum())
print(s.isalpha())
print(s.isdigit())
print(s.isidentifier()) #s, rand -> true , _t , 2hh -> false

True
False
False
True

Split/Join

In [ ]:
a = 'my name is fazil'
print(a.split())  #in list
print(a.split('a'))

print('-'.join(['my', 'name', 'is', 'fazil']))

['my', 'name', 'is', 'fazil']
['my n', 'me is f', 'zil']
my-name-is-fazil

Replace

In [ ]:
a = 'my name is fazil'
print(a.replace('my','al'))

al name is fazil

Strip

In [ ]:
a = 'fazil       '
print(a.strip())

fazil

In [ ]:
# String Practice

# 1. count no. of letter in string
a = 'hello world'
counter = 0
for i in a:
  counter+=1
print(counter)

print(len(a))

# 2. print username from an email
a = 'helloworld@gmail.com'
print('index of @:',a.index('@'))
print(a[0:10])

# 3. count no. of times letter occured/frequency of letter
a = 'my name is fazil'
print(a.count('a'))

'using for loop'
term = 's'
counter = 0
for i in a:
  if i==term:
    counter+=1
print(counter)

# 4. remove particular char and print other
a = 'hello713d@gmail.com'
for i in a:
  if i=='l':
    continue
  print(i,end='')
print()

b = 'hello713d@gmail.com'
res = ''
for i in b:
  if i!='l':
    res+=i
print(res)

# 5. palindrome
a = 'malayalam'
for i in range(0,len(a)//2):  #0,(len(a)//2 = 9//2 = 4)
  if a[i] != a[len(a)-i-1]: #a[0]--> != a[9-0-1] --> a[0]!= a[8]
    print('not palindrome')
    break
print('palindrome')

s = 'abba'  #with([::-1])
flag= True
for i in s:
  s = s.lower()
  if s != s[::-1]:
    flag = False
    print('not palindrome')
    break
if flag== True:
  print('palindrome')

# 6. count no. of words in string
s = 'This is my name'
s = s.split()
count = 0
for i in s:
  count+=1
print(count)

s = 'You are welcomed'  #without split()
temp =''
count = 0
L= []
for i in s:
  if i!=' ':
    temp+=i
  else:
    L.append(temp)
    temp=''
L.append(temp)
for i in L:
  count+=1
print(L)
print(count)

st = 'hello zyan'
counter = 1
for i in st:
    if i==' ':
        counter+=1
    continue
print(counter)

# 7. converts string to title
s = 'this is rj sharma signing off'
print(s.title())


s = 'this is rj balaji signing off' # without title()
L= []
for i in s.split():
    L.append(i[0].upper() + i[1:].lower())
print(' '.join(L))

# 8. converts integer into string

11
11
index of @: 10
helloworld
2
1
heo713d@gmai.com
heo713d@gmai.com
palindrome
palindrome
4
['You', 'are', 'welcomed']
3
2
This Is Rj Sharma Signing Off
This Is Rj Balaji Signing Off

###**Time Complexity:**Way to measure how fast a program runs as the input size grows<br>
![time complexity.png]()

In [ ]:
# basic example to calculate time complexity: remove additional first, then multi : Big O Notation

# 3types : 1. Measuring time to execute, 2. Counting operations, 3. Orders of Growth

# 1. Measuring time
import time
start = time.time()
for i in range(1,5):
  print(i)
end = time.time()
print(end - start)  # 0.0002.. returns time taken

# 2. Counting operations
total = 0
for i in range(1,5):
  total+=i
print(total)  #inside loop : 3*n + outside 1 : 3*n+1

# 3. Orders of Growth : if u r not going use loops -> it will be constant O(1)
#                       if ur going to use separate loops -> it will be linear O(n)
#                       if ur going to use nested loops -> it will be quadratic O(n^2)
#                       dividing the input size in half (or by a constant factor), steps decreases significantly -> logarithmetic O(log n)
#                       split into two or more branches(fibonacci, recurssion..) -> exponential O(2^n) : mostly tree like will be this

'''
eg: n^2 + 2n + 2 --> n^2
n^2 + 10000n + 3^1000 --> n^2
log(n) + n + 4  --> log(n) : bcz it's lesser than n
0.0001*n*log(n) + 300n  --> n*log(n)
2n^30 + 3^n --> 3^n
'''

# Eg :
'''
constant : O(1) : searching index of array -> let array have 100 elements, we need 35th element
  it will just search till A[35]. if array no. inc. to 1000 also it will stop @ A[35]

linear : O(n) : time will just double

quadratic : O(n^2) : nested loops (*4..)

logarithmetic : O(log n) : binary search : let's guess no. btw 100, let it be 25 -> every time it will reduce no. of elements to search
  like if we guess 50 : it will say lesser no., so no need to search above 50..(n/2,n/4,n/8..)

exponential : O(2^n) : takes lot of time : sorting -> evry time **n, eg: 1-2 , 2-4, 3-8, 4-64...
'''

1
2
3
4
0.00019478797912597656
10

"\nconstant : O(1) : searching index of array -> let array have 100 elements, we need 35th element\n  it will just search till A[35]. if array no. inc. to 1000 also it will stop @ A[35]\n\nlinear : O(n) : time will just double\n\nquadratic : O(n^2) : nested loops (*4..)\n\nlogarithmetic : O(log n) : binary search : let's guess no. btw 100, let it be 25 -> every time it will reduce no. of elements to search\n  like if we guess 50 : it will say lesser no., so no need to search above 50..(n/2,n/4,n/8..)\n\nexponential : O(2^n) : takes lot of time : sorting -> evry time **n, eg: 1-2 , 2-4, 3-8, 4-64...\n"

![time_complexity.png]()

#**Lists :**  <br>
can store multiple items in single. Dynamic array can store many values in runtime. L = [20,'jessy',35.75,[20,39,4]]

Array vs Lists<br>
* Fixed(need to give how many value to be store@ first) vs Dynamic size
* Convenience(homogeneous : only single dtype can be stored) vs Hetrogeneous(diff. dtypes can be stored)<br>
* Speed of execution(python list is slow)<br>
* Memory(python lists need more space)

How Lists stored in memory?<br>
Arrays store elements in continuous memory blocks. eg: [1,2,3] --> store binary of value -->[1,2,3]<br>
Lists store elements as references (pointers) to their actual values in memory. eg: [1,2,3] --> store memory address of it [500,600,700] : also called referential array(store reference of array)

In [ ]:
L = [1,2,3]
print(id(L[0]))
print(id(L[1]))
print(id(L[2]))
print(id(1))

10750856
10750888
10750920
10750856

**Characteristics of List :**
* Ordered
* Changable/Mutable
* Hetrogeneous
* Allow duplicates
* Dynamic
* Can be nested
* Items can be accessed
* can contain any kind of objects in python

**creating list :**

In [ ]:
# empty
print([])
# 1d / homogenoeous
print([1,2,3])
# 2d
print([1,2,3,[4,5]])
# 3d
print([1,2,3,[4,5,6,[1,2,3]]])
# hetrogeneous
print([1,'jes',0.1,True])
# using type conv
print(list('hello'))

[]
[1, 2, 3]
[1, 2, 3, [4, 5]]
[1, 2, 3, [4, 5, 6, [1, 2, 3]]]
[1, 'jes', 0.1, True]
['h', 'e', 'l', 'l', 'o']

Accessing Item from list

In [ ]:
# Indexing
L=[1,2,3,4,5]
print(L[2]) #positive
print(L[-1]) #negative

p = [1,2,3,[4,5]]
print(p[-1][0])

a = [1,2,3,[4,5,[2,0]]]
print(a[3][2][0])

# Slicing
L=[1,2,3,4,5]
print(L[0:3])
print(L[-3:-1])
print(L[0::2])

3
5
4
2
[1, 2, 3]
[3, 4]
[1, 3, 5]

Adding Items to list

In [ ]:
#append
L=[1,2,3]
L.append(6)
print(L)
L.append(['u',True])
print(L)
#extend
L.extend([9,8])
print(L)
L.extend('delhi')
print(L)
#insert --> inbtw of any index
O = [1,2,3]
O.insert(1,100)
print(O)

[1, 2, 3, 6]
[1, 2, 3, 6, ['u', True]]
[1, 2, 3, 6, ['u', True], 9, 8]
[1, 2, 3, 6, ['u', True], 9, 8, 'd', 'e', 'l', 'h', 'i']
[1, 100, 2, 3]

Editing items in List

In [ ]:
L = [1,2,3,4,5]
L[-1] = 500
print(L)
L[1:3] = [200,300]
print(L)

[1, 2, 3, 4, 500]
[1, 200, 300, 4, 500]

Deleting items in list

In [ ]:
#del
L = [1,2,4]
print(L)
del(L[1])
print(L)
del(L)
print(L)

[1, 2, 4]
[1, 4]

NameError: name 'L' is not defined

In [ ]:
#remove
Q = [1,2,3,4,5]
Q.remove(3)
print(Q)

#pop
Q.pop(0)
print(Q)
Q.pop() #last will be removed
print(Q)

#clear --> clears list
Q.clear()
print(Q)

[1, 2, 4, 5]
[2, 4, 5]
[2, 4]
[]

Operations in List

In [ ]:
# Arithmetic (+ *):
L1 = [1,2,3,4,[5,6]]
L2 = [2,7,8,3]
print(L1+L2)
print(L1*2)

# Membership (in, not in)
print(2 in L1)
print(5 in L1)
print([5,6] in L1)

[1, 2, 3, 4, [5, 6], 2, 7, 8, 3]
[1, 2, 3, 4, [5, 6], 1, 2, 3, 4, [5, 6]]
True
False
True

In [ ]:
# Loops :
L1 = [1,2,5]
L2 = [1,2,[5,8]]
for i in L1:
  print(i)
for i in L2:
  print(i)

1
2
5
1
2
[5, 8]

List Functions :

In [ ]:
# len/max/min/sorted
L= [1,0,8,2,3,4]
print(len(L))
print(max(L))
print(min(L))
print(sorted(L))
print(sorted(L,reverse=True))
print(L)

6
8
0
[0, 1, 2, 3, 4, 8]
[8, 4, 3, 2, 1, 0]
[1, 0, 8, 2, 3, 4]

In [ ]:
#count
L= [1,2,4,1,4,3,5,2,2]
print(L.count(2))

#index
print(L.index(4))

#reverse --> permanent op.
L = [1,0,8,2,3,4]
L.reverse()
print(L)

#sort --> permanent
L.sort()
print(L)

#copy
L = [1,8,4,0]
print(f'id:',(id(L)))
L1 = L.copy()
print(L1)
print(f'id:',(id(L1)))

3
2
[4, 3, 2, 8, 0, 1]
[0, 1, 2, 3, 4, 8]
id: 133715143352896
[1, 8, 4, 0]
id: 133715142568576

**List Comprehension** : shortcut to new list from an existing one<br>
[expression for item in iterable if condition]<br>
✅ Shorter code
✅ Faster execution
✅ More readable

In [ ]:
L = []
for i in range(1,5):
  L.append(i)
print(L)

L = [i for i in range(1,5)]
print('comp.',L)

[1, 2, 3, 4]
comp. [1, 2, 3, 4]

In [ ]:
# scaler multiplication on vector
v = [2,3,4]
s = -3
#[-6,-9,-12]

a = [i*s for i in v]
print(a)

# add squares
l = [2,5,8]
l = [i*i for i in l]
print(l)

# print all numbers divisible by 5 in range of 1 to 50
a = [i for i in range(1,51) if i%5==0]
print(a)

# find languages which start with letter p
languages = ['php','js','java','python','c']
l =[i for i in languages if i.startswith('p')]
print(l)

# nested if with list comprehension
basket = ['apple','guava','cherry','banana']
my_fruits = ['apple','kiwi','grapes','banana']
m = [i for i in basket if i in my_fruits if i.startswith('a')]
print(m)

# print a (3,3) matrix using list comprehension --> nested comprehension
n = [[i*j for i in range(1,4)] for j in range(1,4)]
print(n)

# cartesian products -> List comp. on 2 Lists
L1 = [1,2,3,4,5]
L2 = [5,9,3,6]
output = [i*j for i in L1 for j in L2]
print(output)

[-6, -9, -12]
[4, 25, 64]
[5, 10, 15, 20, 25, 30, 35, 40, 45, 50]
['php', 'python']
['apple']
[[1, 2, 3], [2, 4, 6], [3, 6, 9]]
[5, 9, 3, 6, 10, 18, 6, 12, 15, 27, 9, 18, 20, 36, 12, 24, 25, 45, 15, 30]

2 ways to traverse a list : itemwise, indexwise

In [ ]:
#itemwise :
l = [2,8,9,5]
for i in l:
  print(i)

#indexwise
for i in range(0,len(l)-1):
  print(l[i])

2
8
9
5
2
8
9

Zip : It joins two (or more) lists together, element by element.

In [ ]:
names = ['Fz','Alvi','Bob']
age = [23,45,13]
a = zip(names,age)
l = list(a)
print(l)

# unzip :
names,age = zip(*l)
print(names,age)

# write prg. to add items to list indexwise
l1 = [1,2,3,4]
l2 = [-1,3,5,2]

l3 = [i+j for i,j in zip(l1,l2)]
print(l3)

[('Fz', 23), ('Alvi', 45), ('Bob', 13)]
('Fz', 'Alvi', 'Bob') (23, 45, 13)
[0, 5, 8, 6]

#**Tuples :**  <br>
Same as list, only diff. is Tuple is immutable.<br>
Charateristics: Ordered, Immutable, Allow duplicate

Creating Tuple :

In [ ]:
#empty
t1=()
print(t1)
#creating tuple with single item -> add comma at last
t2=('hello',)
print(t2)
print(type(t2))
#homo
t3=(1,2,8)
print(t3)
#hetro
t4=(7,'hg',[4,9],True)
print(t4)
#2d tuple
t5=(1,2,(3,4),5)
print(t5)
#using type conv.
t6='hello'
print(tuple(t6))

()
('hello',)
<class 'tuple'>
(1, 2, 8)
(7, 'hg', [4, 9], True)
(1, 2, (3, 4), 5)
('h', 'e', 'l', 'l', 'o')

Accessing Items

In [ ]:
t=(1,2,7,8,0,3)
#Indexing
print(t[3])
print(t[-1])

#slicing
print(t[0:3])
print(t[-3:-1])
print(t[-1:-3:-1])
print(t[4:1:-1])

8
3
(1, 2, 7)
(8, 0)
(3, 0)
(0, 8, 7)

Editing Items : Not possible

In [ ]:
#not possible as it's immutable
t=(4,9,0)
t[0]=6
print(t)

TypeError: 'tuple' object does not support item assignment

Adding Items : Not possible

In [ ]:
#not possible
t=(8,9,0)
print(t.append(6))

AttributeError: 'tuple' object has no attribute 'append'

Deleting Items

In [ ]:
#deleting an item inside is not possible
t=(4,9,9,0)
del t[-1]

TypeError: 'tuple' object doesn't support item deletion

In [ ]:
#deleting whole tuple is possible
t=(54,89,3)
del t
print(t)

NameError: name 't' is not defined

Operations on Tuple

In [ ]:
# + and *
t1=(1,2,3,4)
t2=(8,3,5,2)
t=(t1+t2)
print(t)

t=(t1*2)
print(t)

#membership
print(1 in t1)

#iteration
for i in t1:
  print(i)

print([i for i in t1])

(1, 2, 3, 4, 8, 3, 5, 2)
(1, 2, 3, 4, 1, 2, 3, 4)
True
1
2
3
4
[1, 2, 3, 4]

Tuple Functions

In [ ]:
#len/sum/min/max/sorted
t=(1,23,3,4)
print('len: ',len(t))
print('sum: ',sum(t))
print('min: ',min(t))
print('max: ',max(t))
print('sorted: ',sorted(t))

len:  4
sum:  31
min:  1
max:  23
sorted:  [1, 3, 4, 23]

In [ ]:
#count
print('count: ',t.count(23))

#index
print('index: ',t.index(3))

count:  1
index:  2

Diff. btw Lists and Tuples  <br>

*   Syntax
*   Mutability
*   Speed(tuples are faster because immutable)
*   Memory(tuples are faster)
*   Built in functionality(In List Higher)
*   Error prone(List is more error prone. eg: list.copy() we r using)
*   Usability(Only Mutability : for eg: making read only app. prefer tuple)

Special Syntax :

In [ ]:
#tuple unpacking
a,b,c = (1,2,3)
print(a,b,c)

a,b = (4,7)
a,b = b,a
print(a,b)

1 2 3
7 4

In [ ]:
a,b=(1,2,3)
print(a,b)

ValueError: too many values to unpack (expected 2)

In [ ]:
a,b,*others = (1,2,3,4)
print(a,b)
print(others)

1 2
[3, 4]

In [ ]:
#zipping tuple
a=(1,2,3,4)
b=(5,6,7,8)
print(tuple(zip(a,b)))
print(list(zip(a,b)))

((1, 5), (2, 6), (3, 7), (4, 8))
[(1, 5), (2, 6), (3, 7), (4, 8)]

#**Sets :**  <br>

*   Unordered
*   No duplicates - each element is unique
*   Mutable
*   Can't contain mutable data type - set in set is not possible eg : 2d set..

Creating Set

In [ ]:
#empty
d={}
print(type(d))
s=set()
print(type(s))

#1d and 2d
s1={1,2,3}
print(s1)

# s2={1,2,3,{1,2}}
# print(s2) --> error as can't contain mutable type

#homo and hetro
s3 = {1,2,3}
s4 = {1,'hello',2.5,True} #True value is 1
print(s3)
print(s4)

#using type conv.
l = set([1,2,3])
print(l)

#duplicates not allowed
s5 = {1,3,7,6,1,2,1,4,1,1}
print(s5)

#set can't have mutable dtype
s6 = {1,2,[1,2]}
print(s6)

<class 'dict'>
<class 'set'>
{1, 2, 3}
{1, 2, 3}
{1, 'hello', 2.5}
{1, 2, 3}
{1, 2, 3, 4, 6, 7}

TypeError: unhashable type: 'list'

In [ ]:
s1 = {1,2,3}
s2 = {3,2,1}
print(s1==s2)

True

Accessing Items : not possible

In [ ]:
#indexing and slicing won't work as can't work on index
s = {1,2,3}
print(s.index[0])
print(s[0:2])

AttributeError: 'set' object has no attribute 'index'

Editing Set : Not possible

In [ ]:
s1 = {1,2,3}
s1[0] = 6
print(s1)

TypeError: 'set' object does not support item assignment

Adding Items

In [ ]:
#add
s1 = {1,2,3}
s1.add(5)
print(s1)

#update
s1.update([7,8,9])
print(s1)

{1, 2, 3, 5}
{1, 2, 3, 5, 7, 8, 9}

Deleting Set

In [ ]:
#del
s1 = {1,2,3}
# del s[1] --> not possible to del particular ele
del s1

#remove
s2 = {1,2,3,4,5}
# print(s2.remove(8)) --> throws error bcz of no ele

#discard
s2.discard(8)
print(s2)  #discard won't throw error for no ele

#pop
print(s2.pop()) #randomly del one ele

#clear
s2.clear()
print(s2)

{1, 2, 3, 4, 5}
1
set()

Set Operations

In [ ]:
#union(|)
s1 = {1,2,3,4}
s2 = {2,4,7,8}
print('union : ',s1|s2)

#Intersection(&)
print('intersect : ',s1&s2)

#Difference(-)
print(s1-s2)
print(s2-s1)

#Symmetrical diff. (^)
print('sym : ',s1^s2)

#membership
print(1 in s1)

#iteration
for i in s1:
  print(i)

union :  {1, 2, 3, 4, 7, 8}
intersect :  {2, 4}
{1, 3}
{8, 7}
sym :  {1, 3, 7, 8}
True
1
2
3
4

Set Functions

In [ ]:
# len/sum/min/max/sorted
s1={1,23,3,4}
print(len(s1))
print(sum(s1))
print(min(s1))
print(max(s1))
print(sorted(s1))

4
31
1
23
[1, 3, 4, 23]

In [ ]:
# union/update
s1 = {1,2,3,4,6}
s2 = {2,3,5,6,7}

print(s1.union(s2))

s1.update(s2)
print(s1)
print(s2)

{1, 2, 3, 4, 5, 6, 7}
{1, 2, 3, 4, 5, 6, 7}
{2, 3, 5, 6, 7}

In [ ]:
# intersection/intersection_update
s1 = {1,2,3,4,6}
s2 = {3,5,6,7}

print(s1.intersection(s2))

s1.intersection_update(s2)
print(s1)
print(s2)

{3, 6}
{3, 6}
{3, 5, 6, 7}

In [ ]:
# difference/difference_update
s1 = {1,2,3,4,6}
s2 = {3,5,6,7}

print(s1.difference(s2))

s1.difference_update(s2)
print(s1)
print(s2)

{1, 2, 4}
{1, 2, 4}
{3, 5, 6, 7}

In [ ]:
#symmetric_difference/symmetric_difference_update
s1 = {1,2,3,4,6}
s2 = {3,5,6,7}

print(s1.symmetric_difference(s2))

s1.symmetric_difference_update(s2)
print(s1)
print(s2)

{1, 2, 4, 5, 7}
{1, 2, 4, 5, 7}
{3, 5, 6, 7}

In [ ]:
# isdisjoint/issubset/issupperset
s1 = {1,2,3,4}
s2 = {5,6,7}

print(s1.isdisjoint(s2))  #if both are unique true

s3 = {1,2,3,4}
s4 = {3,4}
print(s4.issubset(s3))

print(s3.issuperset(s4))

True
True
True

In [ ]:
# copy
s1 = {1,2,3,4}
s2 = s1.copy()
s2.update([5,7,8])
print(s1)
print(s2)

{1, 2, 3, 4}
{1, 2, 3, 4, 5, 7, 8}

Frozenset : Frozen set is just an immutable version of Set

In [ ]:
fs1 = frozenset([1,2,3])
print(fs1)
fs2 = frozenset([3,4,5])
print(fs1|fs2)

frozenset({1, 2, 3})
frozenset({1, 2, 3, 4, 5})

In [ ]:
# what works are what doesn't
# works - all read op. (union, inter..) - use only for read only
# doesn't - write op. (add, update..)

# 2d sets
fs = frozenset([1,2,frozenset([2,3,5,6])])
print(fs)

frozenset({1, 2, frozenset({2, 3, 5, 6})})

Set Comprehension

In [ ]:
{i**2 for i in range(1,5)}

{1, 4, 9, 16}

#**Dictionary :**  <br>
Collection of keys values, used to store data values like map<br>
dict = {'name':'fazil','age':'23'} <br>

*  Mutable
*  Indexing not possible
*  Keys can't be duplicated - key : name if once used, can't be used again
*  Keys can't be mutable items - {[name]:'fz'} - not possible
*  Unordered

Creating Dictionary

In [ ]:
# empty dict
d= {}
print(d)

# 1D dict
d1 = {'name':'fazil','age':'23'}
print(d1)

# with mixed keys
d2 = {'name':'fazil','age':'23',(1,2,3):1}
print(d2)

# 2D dict
d3 = {'name':'fazil','age':'23','subjects':{'eng':45,'maths':49,'sci':43}}
print(d3)

# using sequence and dict functions
d4 = dict([('name','fz'),('age',23)])
print(d4)

# duplicate keys
d5 = {'name':'fazil','name':'fz'}
print(d5)

{}
{'name': 'fazil', 'age': '23'}
{'name': 'fazil', 'age': '23', (1, 2, 3): 1}
{'name': 'fazil', 'age': '23', 'subjects': {'eng': 45, 'maths': 49, 'sci': 43}}
{'name': 'fz', 'age': 23}
{'name': 'fz'}

In [ ]:
# mutable items as keys
d6 = {[name]:'fz'}
print(d6) --> error

SyntaxError: invalid syntax (<ipython-input-85-da924b619f73>, line 3)

Accessing Dict

In [ ]:
d = {'name':'fazil','age':'23','sem':4,'subjects':{'eng':45,'maths':49,'sci':43}}
print(d['subjects']['maths'])
print(d.get('name'))

49
fazil

Adding key-value pair

In [ ]:
d = {'name':'fazil','age':'23','sem':4,'subjects':{'eng':45,'maths':49,'sci':43}}
d['subjects']['social'] = 39
print(d)

{'name': 'fazil', 'age': '23', 'sem': 4, 'subjects': {'eng': 45, 'maths': 49, 'sci': 43, 'social': 39}}

Removing key-value pair

In [ ]:
d = {'name':'fazil','age':'23','sem':4,'subjects':{'eng':45,'maths':49,'sci':43},'gender':'male'}
# pop
d['subjects'].pop('sci')
print(d)

# popitem
d['subjects'].popitem() # last item
print(d)

# del
del d['gender']
print(d)

# clear
d.clear()
print(d)

{'name': 'fazil', 'age': '23', 'sem': 4, 'subjects': {'eng': 45, 'maths': 49}, 'gender': 'male'}
{'name': 'fazil', 'age': '23', 'sem': 4, 'subjects': {'eng': 45}, 'gender': 'male'}
{'name': 'fazil', 'age': '23', 'sem': 4, 'subjects': {'eng': 45}}
{}

Editing key-value pair

In [ ]:
d = {'name':'fazil','age':'23','sem':4,'subjects':{'eng':45,'maths':49,'sci':43}}
d['name'] = 'fz'
print(d)

{'name': 'fz', 'age': '23', 'sem': 4, 'subjects': {'eng': 45, 'maths': 49, 'sci': 43}}

Dictionary Operations

In [ ]:
# membership  (only goes for keys)
d = {'name':'fazil','age':'23','subjects':{'eng':45,'maths':49,'sci':43}}
print('name' in d)

# iteration
for i in d:
  print(i,d[i])

for i in d['subjects']:
  print(i,d['subjects'][i])

True
name fazil
age 23
subjects {'eng': 45, 'maths': 49, 'sci': 43}
eng 45
maths 49
sci 43

Dictionary Functions

In [ ]:
# len/sorted
d = {'name':'fazil','age':'23','subjects':{'eng':45,'maths':49,'sci':43}}
print(len(d))

print(sorted(d))

3
['age', 'name', 'subjects']

In [ ]:
# items/keys/values
d = {'name':'fazil','age':'23','subjects':{'eng':45,'maths':49,'sci':43}}
print(d.items())
print(d['subjects'].items())

print(d.keys())

print(d.values())

dict_items([('name', 'fazil'), ('age', '23'), ('subjects', {'eng': 45, 'maths': 49, 'sci': 43})])
dict_items([('eng', 45), ('maths', 49), ('sci', 43)])
dict_keys(['name', 'age', 'subjects'])
dict_values(['fazil', '23', {'eng': 45, 'maths': 49, 'sci': 43}])

In [ ]:
# update
d = {1:1,2:2,3:3}
d1 = {3:3,4:4,5:5}
d.update(d1)
print(d)

{1: 1, 2: 2, 3: 3, 4: 4, 5: 5}

Dictionary Comprehension<br>
{key:value for i in iterable}

In [ ]:
# print 1st 10 numbers and their squares
d1 = {i:i**2 for i in range(1,11)}
print(d1)

# using existing dict
distance = {'chennai':600,'tvm':700,'mysore':160}
d2 = {i:j*0.60 for i,j in distance.items()}
print(d2)

# using zip
place = ['chennai','tvm','mysore']
state = ['TN','KL','KA']

d3 = {i:j for (i,j) in zip(place,state)}
print(d3)

# using if condition
distance = {'chennai':600,'tvm':700,'mysore':160}
d4 = {i:j for i,j in distance.items() if j>=500}
print(d4)

# nested comprehension
# print tables of no. from 2 to 4

{i:{j:i*j for j in range(1,11)} for i in range(2,5)}

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}
{'chennai': 360.0, 'tvm': 420.0, 'mysore': 96.0}
{'chennai': 'TN', 'tvm': 'KL', 'mysore': 'KA'}
{'chennai': 600, 'tvm': 700}

{2: {1: 2, 2: 4, 3: 6, 4: 8, 5: 10, 6: 12, 7: 14, 8: 16, 9: 18, 10: 20},
 3: {1: 3, 2: 6, 3: 9, 4: 12, 5: 15, 6: 18, 7: 21, 8: 24, 9: 27, 10: 30},
 4: {1: 4, 2: 8, 3: 12, 4: 16, 5: 20, 6: 24, 7: 28, 8: 32, 9: 36, 10: 40}}

#**Functions :**  <br>
A function is a named block of code that does a specific job.
You define it once and use it whenever you want by calling its name.<br>

Creating function(with doc string)

In [ ]:
# points to remember : ()-> parameter, when using somewhere (i)->argument [think of difficulty(parameter), easy medium hard(arg)]
def is_even(i):
  '''
  This function returns if given number is odd or even
  '''
  if type(i)==int:
    if i%2==0:
      return 'even'
    else:
      return 'odd'
  else:
    print('enter valid type')

for i in range(1,6):
  x= is_even(i)
  print(x)

is_even('hello')

odd
even
odd
even
odd
enter valid type

In [ ]:
print(is_even.__doc__)

  This function returns if given number is odd or even

### Types of Argument<br>
*   Default Argument
*   Positional Argument
*   Keyword Argument

In [ ]:
# Default Argument: u pass default values in arg.
def power(a=1,b=1):
  return a**b
power(6)  #here value of b will be taken frm default

6

In [ ]:
# Positional Argument : will be in default positional
power(3,2)

9

In [ ]:
# keyword Argument : while calling specify value
power(b=2, a=3)

9

**args and kwargs** :<br>
these are special python keywords that are used to pass variable length arguments to a function. Order will will args -> kwargs

In [ ]:
# *args : allows to pass variable number of non-kwargs to a function --> stores as tuple
def multiply(*args):
  product = 1
  for i in args:
    product = product*i
  print('*args: ',args)
  return product

multiply(1,2,3,4,5,6,7,8,9)

*args:  (1, 2, 3, 4, 5, 6, 7, 8, 9)

45360

In [ ]:
#(*args) can be any name like (a)
def multi(*a):
  prd = 1
  for i in a:
    prd*=i
  return(prd)
multi(9,7,6,5,4,3,2,1)

45360

In [ ]:
# **kwargs : allows to pass any no. of keyword args, kwarg mean that contain key-value pair --> stores as dict
def countries(**kwargs):
  for i,j in kwargs.items():
    print(i,'->',j)

countries(india='delhi',srilanka='colombo',pakistan='islamabad')

india -> delhi
srilanka -> colombo
pakistan -> islamabad

### How functions are executed in memory?<br>
It’s like calling a helper. Python gives the helper a small desk (memory) called "**stack frame**", the helper does the job, gives back the answer, and then the desk is removed.

### Without return statement<br>

In [ ]:
# without retrn it prints none:
def is_odd(num):
    if num%2!=0:
      print('odd')
    else:
      print('even')
print(is_odd(7))

L = [1,2,3]
print(L.append(4))
print(L)

odd
None
None
[1, 2, 3, 4]

### Variable Scope

> These scopes follow the LEGB Rule: Local - Enclosing(Nestsed) - Global - Built-in functions

In [ ]:
# global -> outside of fn, local -> inside fn
'''note u can't modify global variable inside a local variable'''

''' here in below eg. x is not found in local scope(inside fn)
    so it takes global scope value which is 5.'''
def g(y):
  print('local',x)
  print('local',x+1)
x = 5
g(x)
print('global ', x)

''' here in below eg. x is found in local scope(inside fn)
    so it takes local scope value which is 10, then goes outside fn.'''
def q(y):
  x=10
  print(x)
  print(x+1)
x=5
q(x)
print(x)

local 5
local 6
global  5
10
11
5

In [ ]:
def f(y):
  x=1
  x+=1
  print(x)
x = 5
f(x)
print(x)

2
5

In [ ]:
# can't modify global variable inside fn/local, we can just use it.
# else we need a local variable to modify
def f(y):
  x+=1
x = 5
f(x)
print(x)

UnboundLocalError: cannot access local variable 'x' where it is not associated with a value

In [ ]:
# if we need to edit global var inside fn. use 'global _' keyword: but not good practice
def f(y):
  global x
  x+=1
x=5
f(x)
print(x)

6

In [ ]:
def f(x):
  x+=1
  print('in f(x): x = ',x)
  return x
x = 3
z = f(x)
print('in main prg. scope : z = ',z)
print('in main prg. scope : x = ',x)

in f(x): x =  4
in main prg. scope : z =  4
in main prg. scope : x =  3

### Nested Functions

In [ ]:
def f():
  def g():
    print('inside g')
  g()
  print('inside f')
f()

inside g
inside f

In [ ]:
# inside fn can be called only from outside fn, can't call directly
def f():
  def g():
    print('inside g')
  g()
  print('inside f')
g()

TypeError: g() missing 1 required positional argument: 'y'

In [ ]:
def f():
  def g():
    print('inside g')
    f()                 # <--- Recursive call to f()
  g()
  print('inside f')
f() # this will be infinite --> recursive

In [ ]:
def f(x):
  def h():
    x='abc'
    print('inside h() x = ',x)
    return x
  x+=1
  print('inside f(x) x = ',x)
  h()
  # return x
x = 3
z = f(x)

print(z)  # if not returning anything -> None will be returned

inside f(x) x =  4
inside h() x =  abc
None

In [ ]:
def g(x):
  def h(x):
    x+=1
    print('in h(x) x = ',x)
  x+=1                    # will change x value inside fn
  print('in g(x): x = ',x)
  h(x)
  return x
x = 3
z = g(x)
print('in main prg. scope : x = ',x)
print('in main prg. scope : z = ',z)

#op : 4 5 3 4

in g(x): x =  4
in h(x) x =  5
in main prg. scope : x =  3
in main prg. scope : z =  4

### Functions are 1st class citizens<br>

>Functions in python will act like a dtype, and<br>
Functions are immuatable(we can know it by using in set. Bcz Set's can't contain mutable dtype<br>

>Function : type/id, reassign, delete fn, store fn, return fn, fn as argument

In [ ]:
# type and id
def square(x):
  return x**2
print(square(3))
print(type(square))
print(id(square))

9
<class 'function'>
133910519935552

In [ ]:
#reassign
x = square
print(x(3))
print(id(x))

9
133910519935552

In [ ]:
# deleting a function
def sums(*args):
  sum = 0
  for i in args:
    sum+=i
  return sum
print('sum : ',sums(1,2,3,3,4,4,5,9))
del sums

sum :  31

In [ ]:
print(sums(1,2))  #bcz sums deleted early

NameError: name 'sums' is not defined

In [ ]:
# storing
L = [1,2,32,7,square(3)]
print(L)

#functions are immuatble
s = {square}
print(set(s))

[1, 2, 32, 7, 9]
{<function square at 0x79ca78f8f240>}

In [ ]:
# returning a function
def f():
  def x(a,b):
    return a+b
  return x
z = f()(3,4)
print(z)

7

In [ ]:
def outer():
  def inner():
    print('hello from inner')
  return inner
f = outer()
f()

def greeter(name):
    def say_hello():
        print(f"Hello, {name}!")
    return say_hello

greet_john = greeter("John")
greet_john()

hello from inner
Hello, John!

In [ ]:
# function as argument
def inner():
  print('inside inner')

def outer(z):
  print('inside outer')
  return z()

outer(inner)

inside outer
inside inner

### Benefits of using a function<br>
*   Code Modularity : To debug as each fn, eg: debug login(), signup()
*   Code Readabilty
*   Code Reuability

### Lambda Function<br>
No name for Lambda fn like fun a() -- x <br>
A lambda function is a small anonymous function<br>
A lambda fuction can take any no. of args, but can only have one expression

![lambda.png]()

In [ ]:
s = lambda a,b : a+b
print(s(3,2))

sq = lambda a : a**2
print(sq(6))

st = lambda i : 'a' in i
print(st('hello'))

e = lambda i :'even' if i%2==0 else 'odd'
print(e(6))

5
36
False
even

### Diff. btw lambda vs Normal function<br>
1.   No name
1.   Can't reuse
2.   written in 1 line
2.   has no return value(returns a function itself)

Then Why to use lambda function : They are used with HOF(Higher Order Function)

### Higher Order Function<br>
A function that takes another function as an argument, or returns a function, or does both.

In [ ]:
# without lambda : we need to write sep transform for cube and square
# HOF
def square(i):
  return i**2

def cube(i):
  return i**3

def transform(f,L):
  output = []
  for i in L:
    output.append(square(i))
  return output

L=[1,2,3,4,5]
print(transform(f,L))

[1, 4, 9, 16, 25]

In [ ]:
# using lamba : we can call at once
# HOF
def transform(f,L):
  output = []
  for i in L:
    output.append(f(i))
  return output

L=[1,2,3,4,5]
square = transform(lambda x : x**2, L)
cube = transform(lambda x : x**3, L)
print(square,cube)

[1, 4, 9, 16, 25] [1, 8, 27, 64, 125]

In [ ]:
def shout(i):
  return i.upper()

def whisper(i):
  return i.lower()

def greet(f):
  message = f('Hello')
  print(message)

greet(shout)
greet(whisper)

HELLO
hello

### Built-in HOFs in Python<br>

map(), filter(), sorted(), reduce()-> (from functools)

Map : Transforms each item

In [ ]:
# square the items of a list
nums = [1, 2, 3]
squared = list(map(lambda i : i**2,nums))
print(squared)

# odd/even labelling of list items
L = [0,1,2,3,4,5,6,7,8,9]
even = list(map(lambda i : 'even' if i%2==0 else 'odd',L))
print(even)

# fetch names from a list of dict
person = [{"name": "Alice", "age": 25, "gender": "Female"},
          {"name": "Alan", "age": 22, "gender": "Male"},
          {"name": "Abi", "age": 26, "gender": "Female"}]

name = list(map(lambda i : i['name'],person))
print(name)

[1, 4, 9]
['even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd']
['Alice', 'Alan', 'Abi']

Filter : 	Keeps items that match condition

In [ ]:
# numbers greater than 5
L = [2,3,6,3,7]
greater = list(filter(lambda i : i>5,L))
print(greater)

L1 = ['apple','orange','banana']
fruits = list(filter(lambda i : i.startswith('a') ,L1))
print(fruits)

[6, 7]
['apple']

Reduce: Combines items into one, returns - Single value

In [ ]:
import functools
sum = functools.reduce(lambda i,j : i+j,[1,2,3,4,5])
print(sum)

#find min
min = functools.reduce(lambda x,y : x if x<y else y,[6,3,9,0,1])
print(min)

15
0

Sorted:Sorts using custom key

In [ ]:
person = [{"name": "Alice", "age": 25, "gender": "Female"},
          {"name": "Fz", "age": 22, "gender": "Male"},
          {"name": "Ben", "age": 26, "gender": "Female"}]

names = list(sorted(person,key = lambda i : i['name']))
print(names)
for i in names:
  print(i['name'])

#sort for second index no.
data = [(1,2),(5,3),(2,1)]
s = list(sorted(data,key = lambda i : i[1]))
print(s)

[{'name': 'Alice', 'age': 25, 'gender': 'Female'}, {'name': 'Ben', 'age': 26, 'gender': 'Female'}, {'name': 'Fz', 'age': 22, 'gender': 'Male'}]
Alice
Ben
Fz
[(2, 1), (1, 2), (5, 3)]